include about-us-item.pug

mixin about-us(className, obj)
  -
    obj = obj || {};
    obj.listItems = obj.listItems || [false, false];
    obj.title = obj.title || 'lorem title';

  section(class=[className, 'about-us'])
    h2.visually-hidden #{obj.title}
    ul.about-us__list
      each item in obj.listItems
        +about-us-item('about-us__item', item)
