mixin about-us-item(className)
  li(class=[className, 'about-us-item'])
    h3.about-us-item__title Наш сервис
    ul.about-us-item__list
      li.about-us-item__item Печать каталогов за один час - это реальность
      li.about-us-item__item Оперативная доработка макетов для всех видов печати
      li.about-us-item__item Персонализация любой сложности от пригласительных до индивидуальных печатных изданий
      li.about-us-item__item Изготовление сигнальных образцов продукции перед цифровой печатью
      li.about-us-item__item Доставка продукции
