mixin about-us-item(className, obj)
  -
    obj = obj || {};
    obj.title = obj.title || 'Lorem ipsum';
    obj.itemsText = obj.itemsText || [
      'Lorem ipsum dolor, sit amet consectetur adipisicing elit.',
      'Lorem ipsum dolor, sit amet consectetur adipisicing elit.',
      'Lorem ipsum dolor, sit amet consectetur adipisicing elit.',
      'Lorem ipsum dolor, sit amet consectetur adipisicing elit.',
      'Lorem ipsum dolor, sit amet consectetur adipisicing elit.',
    ];

  li(class=[className, 'about-us-item'])
    h3.about-us-item__title #{obj.title}

    ul.about-us-item__list
      each itemsText in obj.itemsText
        li.about-us-item__list-item #{itemsText}
