mixin descriptionTypeWork(nameMixedClass, obj)
  -
    obj = obj || {}
    obj.tagName = obj.tagName || 'p'; // тег блока по умолчанию
    obj.elementName = obj.elementName || 'description-type-work';
    obj.classModifiers = obj.classModifiers || [];
    obj.classModifiers = variables.getArrayClassModifiers(obj.classModifiers);
    obj.textContent = obj.textContent || 'Lorem impulse';

  #{obj.tagName}(class=[
    nameMixedClass,
    obj.elementName,
    variables.getModifierClasses(obj.classModifiers, obj.elementName)
  ]) !{obj.textContent}
