include types-products-list.pug

mixin digitalPrinting(className, obj)
  -
    var title = obj.title;
    var description = obj.description;
    var items = ''

  section(class=[className, 'digital-printing'])
    h2.digital-printing__title #{title}
    p.digital-printing__description #{description}
    +typesProductsList('digital-printing__types-products', obj.listItems)
