mixin footer(className)
  footer(class=[className, 'footer'])
    a.footer__copyright-link(href="http://dizhouse.ru")
      p.footer__copyright-text
        | Дизайн, графическое наполнение и сопровождение <br>
        | дом дизайна DizHouse.ru © 2020
      img.footer__copyright-logo-image(src=variables.imagePath + "page-footer__dizhouse-logo.svg" alt="дом дизайна DizHouse" width="201" height="165" )


