mixin footer(className)
  footer(class=[className, 'footer'])
    a.footer__copyright-link(href="http://dizhouse.ru")
      p.footer__copyright-text
        | Дизайн, графическое наполнение и сопровождение
        | дом дизайна DizHouse.ru © 2020



