mixin header-logo(className, imagesPath='img/')
  dl(class=[className, 'header-logo'])
    dt.visually-hidden Логотип Копи Шоп Оранж
    dd.header-logo__value
      a.header-logo__link(href="#")
        img.header-logo__image(src=imagesPath + 'orange-logo.svg' width='177' height='177' alt='Типография Копи Шоп Оранж')
