include header-work-schedule.pug
include header-email.pug
include header-logo.pug
include header-phone.pug
include header-address.pug
include header-nav.pug

mixin header(className, obj)
  header(class=[className, 'header'])
    .header__wrap-info
      +headerWorkSchedule('header__wrap-info-item header__wrap-info-item--work-schedule')
      +headerEmail('header__wrap-info-item header__wrap-info-item--email')
      +headerLogo('header__wrap-info-item header__wrap-info-item--logo', obj)
      +headerPhone('header__wrap-info-item header__wrap-info-item--header-phone')
      +headerAddress('header__wrap-info-item header__wrap-info-item--header-address')
    .header__wrapper-main-nav
      +headerNav('header__main-nav')
