mixin header-address(className)
  section(class=[className, 'header-address'])
    p.header-address__metro м. Электросила / м. Московские ворота
    a.header-address__link(href="https://yandex.ru/maps/?pt=30.326662677593184,59.88726425066574&z=16&l=map", rel ="noreferrer" target="_blank")
      h2.visually-hidden Адрес типографии
      p.header-address__street Коли Томчака 28ф
