mixin header-logo(className)
  p(class=[className, 'header-logo'])
    a.header-logo__link(href="https://yandex.ru/maps/?pt=30.32631100496293,59.88727742825379&z=17&l=map")
      img.header-logo__image(src=variables.imagePath + 'orange-logo.svg' width='177' height='177' alt='Типография Копи Шоп Оранж')
