mixin header-phone(className)
  dl(class=[className, 'header-phone'])
    dt.visually-hidden Контактный телефон
    dd.header-phone__value
        a.header-phone__link(href='tel:+88123181832') 8 (812) <span class="header-phone__link header-phone__link--no-wrap">318-18-32</span>
