mixin header-work-schedule(className)
  dl(class=[className, 'header-work-schedule'])
    .header-work-schedule__wrap-working-hours
      dt.header-work-schedule__working-hours Приём заказов
      dd.header-work-schedule__working-hours-time
        div.header-work-schedule__start-working-hours-time c 10.00
        div.end-header-work-schedule__start-working-hours-time до 19.00
    .header-work-schedule__wrap-weekend
      dt.header-work-schedule__weekend Выходные
      dd.header-work-schedule__weekend-days Сб, Вс
