mixin header-phone(className)
  -
    var fullPhoneNumber = variables.orange.contact.phone.cityCode + ' ' + variables.orange.contact.phone.number;
    var hrefPhone = variables.orange.contact.phone.telHref;

  dl(class=[className, 'header-phone'])
    dt.visually-hidden Контактный телефон
    dd.header-phone__value
      a.header-phone__link(href='tel:' + hrefPhone) #{fullPhoneNumber}
