mixin header-logo(className)
  p(class=[className, 'header-logo'])
    a.header-logo__link(href="#")
      img.header-logo__image(src=variables.imagePath + 'orange-logo.svg' width='177' height='177' alt='Типография Копи Шоп Оранж')
