mixin header-address(className)
  dl(class=[className, 'header-address'])
    dt.visually-hidden Адрес типографии
    dd.header-address__wrap-value
      address.header-address__value
        span.header-address__metro М. Электросила/<br>Московские ворота
        span.header-address__street Коли Томчака 28ф
