mixin header-email(className)
  dl(class=[className, 'header-email'])
    dt.visually-hidden Адрес электронной почты
    dd.header-email__value 
      a.header-email__link(href='mailto:info@copyshop-orange.ru')
        span.header-email__first-part info@
        span.header-email__second-part copyshop-orange.ru
