mixin header-email(className)
  dl(class=[className, 'header-email'])
    dt.visually-hidden Адрес электронной почты
    dd.header-email__value
      a(href='mailto:info@copyshop-orange.ru') info@copyshop-orange.ru
