mixin header-phone(className)
  dl(class=[className, 'header-phone'])
  dt.visually-hidden Контактный телефон
  dd.header-phone__value
    a.header-phone__link(href='tel:+88123181832') 8 (812) 318-18-32
