mixin header-nav(className)
  nav(class=[className, 'header-nav'])
    ul.header-nav__list-links
      li.header-nav__list-links-item
        a.header-nav__link Главная
      li.header-nav__list-links-item
        a.header-nav__link(href='catalog.html') Вся продукция
      li.header-nav__list-links-item
        a.header-nav__link(href='contacts.html') Контакты
