mixin informationCall(className, obj)
  -
    obj = obj || {};

  section(class=[className, 'information-call'])
    h2(class='information-call__title') Позвоните и узнайте всё что вас интересует!
    a(class='information-call__link-phone' href='tel:+88123181832')
      p(class='information-call__phone') 318-18-32
    p(class='information-call__text') Вы можете оставить заявку на почте
    a(class='information-call__link-email' href='mailto:info@copyshop-orange.ru')
      p(class='information-call__email') info@copyshop-orange.ru
