mixin managerCheck(className, obj)
  p(class=[className, 'manager-check'])
    a(class=[className, 'manager-check__link'] href="tel:+88123181832" alt="телефон копи шоп оранж") Наличие материала и индивидуальные особенности уточняйте у менеджеров по телефону 318-18-32
