-
 var map = {
   typesProducts: {
    calendar: {
      title: 'Печать календарей',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--kalendar.jpg',
    },
    menu: {
      title: 'Печать меню',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--menu.jpg',
    },
    flyer: {
      title: 'Печать листовок',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--plakatc.jpg',
    },
    booklet: {
      title: 'Печать буклетов',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--buklet.jpg',
    },
    label: {
      title: 'Печать этикеток',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--label.jpg',
    },
    banner: {
      title: 'Печать банеров',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--banner.jpg',
    },
    canvas: {
      title: 'Печать на холсте',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--canvas.jpg',
    },
    modularPictures: {
      title: 'Модульные картины',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--modulpikture.jpg',
    },
    wallpaper: {
      title: 'Печать фотообоев',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--plakatc.jpg',
    },
    wallStickers: {
      title: 'Наклейки на стену',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--wall-stickers.jpg',
    },
   },
 }
