-
 var map = {
   typesProducts: {
    calendar: {
      title: 'Печать календарей',
      href: '',
      imageName: 'types-products-list__image--kalendar.jpg',
      imageAlt: 'Календарь трио с серыми численниками',
    },
    menu: {
      title: 'Печать меню',
      href: '',
      imageName: 'types-products-list__image--menu.jpg',
      imageAlt: 'Меню ресторана с овощами на фоне',
    },
    flysheet: {
      title: 'Печать листовок',
      href: '',
      imageName: 'types-products-list__image--flysheet.jpg',
      imageAlt: 'Желтые листовки с забавными рисунками',
    },
    flyer: {
      title: 'Печать флаеров',
      href: '',
      imageName: 'types-products-list__image--flyer.jpg',
      imageAlt: 'флаеры с симпатичными рисунками',
    },
    booklet: {
      title: 'Печать буклетов',
      href: '',
      imageName: 'types-products-list__image--booklet.jpg',
      imageAlt: 'Буклеты от известных организаций',
    },
    catalog: {
      title: 'Печать каталогов',
      href: '',
      imageName: 'types-products-list__image--catalog.jpg',
      imageAlt: 'Каталоги четыре вида, один в развернутом виде',
    },
    label: {
      title: 'Печать этикеток',
      href: '',
      imageName: 'types-products-list__image--label.jpg',
      imageAlt: 'С этикетке отклеивают верхний слой',
    },
    banner: {
      title: 'Печать банеров',
      href: '',
      imageName: 'types-products-list__image--banner.jpg',
      imageAlt: 'кусочек баннера с люверсом',
    },
    canvas: {
      title: 'Печать на холсте',
      href: '',
      imageName: 'types-products-list__image--canvas.jpg',
      imageAlt: 'фотография молодой пары, свадебная',
    },
    modularPictures: {
      title: 'Модульные картины',
      href: '',
      imageName: 'types-products-list__image--modulpikture.jpg',
      imageAlt: 'картина состоит из 3 частей висят над оранжевым диваном',
    },
    wallpaper: {
      title: 'Печать фотообоев',
      href: '',
      imageName: 'types-products-list__image--wallpaper.jpg',
      imageAlt: 'пейзаж с фиолетовым деревом, фотообои наклеино в спальне',
    },
    wallStickers: {
      title: 'Наклейки на стену',
      href: '',
      imageName: 'types-products-list__image--wall-stickers.jpg',
      imageAlt: 'рисунок женщины на стене в черном исполнении и отпечаток поцелуя',
    },
   },
 }
