-
 var map = {
   typesProducts: {
    calendar: {
      title: 'Печать календарей',
      href: 'page-calendars.html',
      imageName: 'types-products-list__image--kalendar.jpg',
      imageAlt: 'Календарь трио с серыми численниками',
    },
    menu: {
      title: 'Печать меню',
      href: 'page-menu.html',
      imageName: 'types-products-list__image--menu.jpg',
      imageAlt: 'Меню ресторана с овощами на фоне',
    },
    flysheet: {
      title: 'Печать листовок',
      href: 'page-flysheet.html',
      imageName: 'types-products-list__image--flysheet.jpg',
      imageAlt: 'Желтые листовки с забавными рисунками',
    },
    flyer: {
      title: 'Печать флаеров',
      href: 'page-flyer.html',
      imageName: 'types-products-list__image--flyer.jpg',
      imageAlt: 'флаеры с симпатичными рисунками',
    },
    booklet: {
      title: 'Печать буклетов',
      href: '',
      imageName: 'types-products-list__image--booklet.jpg',
      imageAlt: 'Буклеты от известных организаций',
    },
    catalog: {
      title: 'Печать каталогов',
      href: 'page-catalog.html',
      imageName: 'types-products-list__image--catalog.jpg',
      imageAlt: 'Каталоги четыре вида, один в развернутом виде',
    },
    label: {
      title: 'Печать этикеток',
      href: 'page-label.html',
      imageName: 'types-products-list__image--label.jpg',
      imageAlt: 'С этикетке отклеивают верхний слой',
    },
    labelDigital: {
      title: 'Печать этикеток',
      href: '',
      imageName: 'types-products-list__image--labelDigital.jpg',
      imageAlt: 'Этикетки на бутылки для шампанского',
    },
    banner: {
      title: 'Печать банеров',
      href: 'page-banner.html',
      imageName: 'types-products-list__image--banner.jpg',
      imageAlt: 'кусочек баннера с люверсом',
    },
    canvas: {
      title: 'Печать на холсте',
      href: '',
      imageName: 'types-products-list__image--canvas.jpg',
      imageAlt: 'фотография молодой пары, свадебная',
    },
    modularPictures: {
      title: 'Модульные картины',
      href: '',
      imageName: 'types-products-list__image--modulpikture.jpg',
      imageAlt: 'картина состоит из 3 частей висят над оранжевым диваном',
    },
    wallpaper: {
      title: 'Печать фотообоев',
      href: '',
      imageName: 'types-products-list__image--wallpaper.jpg',
      imageAlt: 'пейзаж с фиолетовым деревом, фотообои наклеино в спальне',
    },
    wallStickers: {
      title: 'Наклейки на стену',
      href: '',
      imageName: 'types-products-list__image--wall-stickers.jpg',
      imageAlt: 'рисунок женщины на стене в черном исполнении и отпечаток поцелуя',
    },
    businessCard: {
      title: 'Печать визиток',
      href: '',
      imageName: 'types-products-list__image--businessCard.jpg',
      imageAlt: 'две визитные карточки в оранжевом цветовой гаммой',
    },
    notebook: {
      title: 'Печать блокнотов',
      href: '',
      imageName: 'types-products-list__image--notebook.jpg',
      imageAlt: 'два блокнона с белой пружиной с красной и темной обложкой',
    },
    brochure: {
      title: 'Печать брошюр',
      href: '',
      imageName: 'types-products-list__image--brochure.jpg',
      imageAlt: 'красочные брошюры собранные на пружинку или сложенные пополам',
    },
    album: {
      title: 'Печать альбомов',
      href: '',
      imageName: 'types-products-list__image--wallpaper.jpg',
      imageAlt: 'альбом детского сада, на фотография улыбаются дети',
    },
    albumDigital: {
      title: 'Печать альбомов',
      href: '',
      imageName: 'types-products-list__image--album.jpg',
      imageAlt: 'альбом детского сада, на фотография улыбаются дети',
    },
    invitation: {
      title: 'Печать приглашений',
      href: '',
      imageName: 'types-products-list__image--invitation.jpg',
      imageAlt: 'приглашения на свадьбу выполнено в стиле любовь это',
    },
    block: {
      title: 'Печать блоков для записей',
      href: '',
      imageName: 'types-products-list__image--block.jpg',
      imageAlt: 'блоки для записей с клеевым слоем и печатью с верху',
    },
    envelope: {
      title: 'Печать конвертов',
      href: '',
      imageName: 'types-products-list__image--envelope.jpg',
      imageAlt: 'конверты с логотипами организаций',
    },
    magazine: {
      title: 'Печать журналов',
      href: '',
      imageName: '',
      imageAlt: 'множество журналов верхний с девушкой на обложке',
    },
    magazine: {
      title: 'Печать каталогов',
      href: '',
      imageName: 'types-products-list__image--magazine.jpg',
      imageAlt: 'множество журналов верхний с девушкой на обложке',
    },
    diploma: {
      title: 'Печать дипломов',
      href: '',
      imageName: 'types-products-list__image--diploma.jpg',
      imageAlt: 'две грамоты с узором и гербами',
    },
    posterPaper: {
      title: 'Печать на постерной бумаге',
      href: '',
      imageName: 'types-products-list__image--posterPaper.jpg',
      imageAlt: 'афиши висят за стеклом на одной бильярдный шар на второй реклама с кофе',
    },
    glueFilm: {
      title: 'Печать на самоклеющейся плёнке',
      href: '',
      imageName: 'types-products-list__image--glueFilm.jpg',
      imageAlt: 'витрина магазина оклеина пленкой, синук цветных рисованных сумок',
    },
    plotterCutting: {
      title: 'Плоттерная резка',
      href: '',
      imageName: 'types-products-list__image--plotterCutting.jpg',
      imageAlt: 'плоттер в рабочем режиме вырезает по контуру сирунок',
    },
    photoPaper: {
      title: 'Печать на фотобумаге',
      href: '',
      imageName: 'types-products-list__image--photoPaper.jpg',
      imageAlt: 'постеры в кафе, на постерах арты из комиксов',
    },
    magneticVinyl: {
      title: 'Печать на магнитном виниле',
      href: '',
      imageName: 'types-products-list__image--magneticVinyl.jpg',
      imageAlt: 'рулончик магнитного винила',
    },
    stencilCutting: {
      title: 'Трафареты из плёнки',
      href: '',
      imageName: 'types-products-list__image--stencilCutting.jpg',
      imageAlt: 'трафарет из винила готовый для оклейки на стекло',
    },
    bannerMesh: {
      title: 'Печать на банерной сетке',
      href: '',
      imageName: 'types-products-list__image--bannerMesh.jpg',
      imageAlt: 'баннерная сетка отделяется от основания',
    },
    perforatedFilm: {
      title: 'Печать на перфо-плёнке',
      href: '',
      imageName: 'types-products-list__image--perforatedFilm.jpg',
      imageAlt: 'перфо пленка отделяется от основания для оклеивания',
    },
    carSticker: {
      title: 'Наклейки на машины',
      href: '',
      imageName: 'types-products-list__image--carSticker.jpg',
      imageAlt: 'наклейка на машине, герои из игр',
    },
    plotterSticker: {
      title: 'Наклейки',
      href: '',
      imageName: 'types-products-list__image--plotterSticker.jpg',
      imageAlt: 'наклейку отделяют от основания',
    },
    fridgeStickers: {
      title: 'Наклейки на холодильник',
      href: '',
      imageName: 'types-products-list__image--fridgeStickers.jpg',
      imageAlt: 'наклейку отделяют от основания',
    },
    backlit: {
      title: 'Печать на бэклите',
      href: '',
      imageName: 'types-products-list__image--backlit.jpg',
      imageAlt: 'Автомат по продаже снеков, продукция автомата напечатана на бэклите он подсвечен',
    },
    tShirt: {
      title: 'Печать на футболках',
      href: '',
      imageName: 'types-products-list__image--tShirt.jpg',
      imageAlt: 'Семья одетые в футболки с своими принтами',
    },
    cup: {
      title: 'Печать на кружках',
      href: '',
      imageName: 'types-products-list__image--cup.jpg',
      imageAlt: 'Семья на трех кружках',
    },
    dishes: {
      title: 'Печать на посуде',
      href: '',
      imageName: 'types-products-list__image--dishes.jpg',
      imageAlt: 'Гомер симпсон напечатан на тарелке',
    },
    textile: {
      title: 'Печать на текстиле',
      href: '',
      imageName: 'types-products-list__image--textile.jpg',
      imageAlt: 'подушечки с принтами логотипа фирмы',
    },
    designLayout: {
      title: 'Дизайн макет',
      href: '',
      imageName: 'types-products-list__image--designLayout.jpg',
      imageAlt: 'рабочий стол дизайнера',
    },
    layout: {
      title: 'Вёрстка',
      href: '',
      imageName: 'types-products-list__image--layout.jpg',
      imageAlt: 'вертска страницы каталога журнала',
    },
    photoRetouch: {
      title: 'Ретушь фото',
      href: '',
      imageName: 'types-products-list__image--photoRetouch.jpg',
      imageAlt: 'лицо модели в phtoshop',
    },
    photoMontagePictures: {
      title: 'Фотомонтаж картин',
      href: '',
      imageName: 'types-products-list__image--photoMontagePictures.jpg',
      imageAlt: 'фотография застилизованная под картину',
    },
    corporateIdentity: {
      title: 'Фирменный стиль',
      href: '',
      imageName: 'types-products-list__image--corporateIdentity.jpg',
      imageAlt: 'фирменный стиль конвертов и визитов',
    },
   },
 }
