-
 var map = {
   typesProducts: {
    calendar: {
      title: 'Печать календарей',
      href: '',
      imageName: 'types-products-list__image--kalendar.jpg',
    },
    menu: {
      title: 'Печать меню',
      href: '',
      imageName: 'types-products-list__image--menu.jpg',
    },
    flysheet: {
      title: 'Печать листовок',
      href: '',
      imageName: 'types-products-list__image--flysheet.jpg',
    },
    flyer: {
      title: 'Печать флаеров',
      href: '',
      imageName: 'types-products-list__image--flyer.jpg',
    },
    booklet: {
      title: 'Печать буклетов',
      href: '',
      imageName: 'types-products-list__image--booklet.jpg',
    },
    catalog: {
      title: 'Печать каталогов',
      href: '',
      imageName: 'types-products-list__image--catalog.jpg',
    },
    label: {
      title: 'Печать этикеток',
      href: '',
      imageName: 'types-products-list__image--label.jpg',
    },
    banner: {
      title: 'Печать банеров',
      href: '',
      imageName: 'types-products-list__image--banner.jpg',
    },
    canvas: {
      title: 'Печать на холсте',
      href: '',
      imageName: 'types-products-list__image--canvas.jpg',
    },
    modularPictures: {
      title: 'Модульные картины',
      href: '',
      imageName: 'types-products-list__image--modulpikture.jpg',
    },
    wallpaper: {
      title: 'Печать фотообоев',
      href: '',
      imageName: 'types-products-list__image--wallpaper.jpg',
    },
    wallStickers: {
      title: 'Наклейки на стену',
      href: '',
      imageName: 'types-products-list__image--wall-stickers.jpg',
    },
   },
 }
