include types-products-list.pug
include title-type-work.pug

mixin productionItem(className, obj)
  -
    var title = obj.title;
    var description = obj.description;
    var modificationClass = obj.modificationClass || '';

  section(class=[className, 'production-item', modificationClass])
    +titleTypeWork('production-item__title', { textContent: obj.title })
    p.production-item__description !{description}
    +typesProductsList('production-item__types-products-list', obj.listItems)
