mixin sendIdeas(className)
  section(class=[className, 'send-ideas'])
    h2.visually-hidden Возможные идеи
    p.send-ideas__find Можете ознакомится с возможными изображениями для Ваших идей <a class='send-ideas__link' href="https://ru.depositphotos.com/?ref=18789020">здесь</a>
    p.send-ideas__email Варианты, которые понравились, отправляйте нам на почту <a class='send-ideas__link' href="mailto:info@copyshop-orange.ru">info@copyshop-orange.ru</a>

