mixin titleTypeWork(nameMixedClass, obj)
  -
    let titleTypeWork = new variables.NodeElement(obj);

  #{titleTypeWork.tagName}(class=[
    nameMixedClass,
    titleTypeWork.elementName,
    titleTypeWork.getModifierClasses(),
  ]) !{titleTypeWork.textContent}
