mixin typesCalendars(nameMixedClass, obj)
  -
    obj = obj || {}
    obj.tagName = obj.tagName || 'ul'; // тег блока по умолчанию
    obj.elementName = obj.elementName || 'types-calendars';
    obj.classModifiers = obj.classModifiers || [];
    obj.classModifiers = variables.getArrayClassModifiers(obj.classModifiers);

  #{obj.tagName}(class=[
    nameMixedClass,
    obj.elementName,
    variables.getModifierClasses(obj.classModifiers, obj.elementName)
  ])
    li(class='types-calendars__item')
      a(class='types-calendars__link types-calendars__link--mono' href="#calendar-1" alt="")
        span.visually-hidden Моно
    li(class='types-calendars__item')
      a(class='types-calendars__link types-calendars__link--trio' href="#calendar-2" alt="")
        span.visually-hidden Трио
    li(class='types-calendars__item')
      a(class='types-calendars__link types-calendars__link--house-first-type' href="#calendar-3" alt="")
        span.visually-hidden Домик
    li(class='types-calendars__item')
      a(class='types-calendars__link types-calendars__link--house-second-type' href="#calendar-4" alt="")
        span.visually-hidden Домик с перекидным блоком
    li(class='types-calendars__item')
      a(class='types-calendars__link types-calendars__link--house-third-type' href="#calendar-5" alt="")
        span.visually-hidden Домик с индивидуальными численниками
    li(class='types-calendars__item')
      a(class='types-calendars__link types-calendars__link--pocket' href="#calendar-6" alt="")
        span.visually-hidden Карманные календарики

