include types-products-list.pug

mixin types-products(className, obj)
  -
    var teamplateItem = {
      title: 'lorem title item',
      href: 'page-empty.html',
      imageName: 'types-products-list__image--kalendar.jpg',
    };

    var obj = obj || {};
    obj.title = obj.title || 'lorem title lorem title lorem title lorem';
    obj.listItems = obj.listItems || [teamplateItem, teamplateItem];

    var imagePath = variables.imagePath;

  section(class=[className, 'types-products'])
    h2.types-products__title !{obj.title}
    +typesProductsList('types-products__list', obj.listItems)
