mixin types-works(className)
  section(class=[className, 'types-works'])
    h2.visually-hidden Мы делаем следующие виды работ
    ul.types-works__list-cards
      li.types-works__card
        a.types-works__card-link(href="#")
          h3.types-works__card-title Офсетная печать
          p.types-works__card-text Большие тиражи
          p.types-works__card-text Большой формат
          p.types-works__card-text Большая выгода
      li.types-works__card
        a.types-works__card-link.types-works__card-link--icon-digital(href="page-digital-printing.html")
          h3.types-works__card-title Цифровая печать
          p.types-works__card-text Оперативность
          p.types-works__card-text Качество
          p.types-works__card-text Постпечать
      li.types-works__card
        a.types-works__card-link.types-works__card-link--icon-wide-print(href="page-wide-printing.html")
          h3.types-works__card-title Широкоформатная печать
          p.types-works__card-text Плотерная резка
          p.types-works__card-text Трафареты
          p.types-works__card-text Различные материалы
      li.types-works__card
        a.types-works__card-link.types-works__card-link--icon-design(href="page-design.html")
          h3.types-works__card-title Дизайн
          p.types-works__card-text Ваши проекты от идеи до воплощения
      li.types-works__card
        a.types-works__card-link.types-works__card-link--icon-souvenir(href="page-souvenir.html")
          h3.types-works__card-title Сувенирная продукция
          p.types-works__card-text Огромный выбор сувениров Футболки, Кружки, Посуда, Пазлы, Текстиль, Фото
      li.types-works__card
        a.types-works__card-link.types-works__card-link--icon-interior(href="page-interior-printing.html")
          h3.types-works__card-title Интерьерная печать и печать на холстах
          p.types-works__card-text Кухонные фартуки
          p.types-works__card-text Фотомонтаж
          p.types-works__card-text Наклейки на стены
      li.types-works__card
        a.types-works__card-link.types-works__card-link--icon-photowall-paper(href="page-photo-wallpaper.html")
          h3.types-works__card-title Печать на фотообоях
          p.types-works__card-text Большой выбор текстур и изображений
