-
  var variables = {
    imagePath: 'img/',
    stylePath: '',
    page: {
      main: {
        title: 'Копи Шоп Оранж: Главная',
        className: 'page',
        aboutUs: {
          title: 'О нас',
          listItems: [
            {
              title: 'Наш сервис',
              itemsText: [
                'Печать каталогов за один час - это реальность',
                'Оперативная доработка макетов для всех видов печати',
                'Персонализация любой сложности от пригласительных до индивидуальных печатных изданий',
                'Изготовление сигнальных образцов продукции перед цифровой печатью',
                'Доставка продукции',
              ],
              modifierClass: 'about-us-item--icons-service',
            },
            {
              title: 'Преимущества',
              itemsText: [
                'Печатайте ровно столько - сколько Вам необходимо',
                'Высокая производительность при хороших ценах',
                'Оперативная печать отличного качества',
                'Цифровая печать на любых видах дизайнерских бумаг',
                'Наши специалисты обладают знанием и опытом в данной области',
              ],
              modifierClass: 'about-us-item--icons-advantages',
            },
          ],
        },
      },
      empty: {
        title: 'Копи Шоп Оранж: страница разработки',
        className: 'page-empty',
      },
    },
  }
