include map.pug
-
  var variables = {
    imagePath: 'img/',
    stylePath: '',
    orange: {
      contact: {
        email: 'info@copyshop-orange.ru',
        phone: {
          number: '318-18-32',
          cityCode: '8 (812)',
          telHref: '+78123181832'
        },
      },
    },
    page: {
      main: {
        title: 'Копи Шоп Оранж: Главная',
        className: 'page',
        aboutUs: {
          title: 'О нас',
          listItems: [
            {
              title: 'Наш сервис',
              itemsText: [
                'Печать каталогов за один час - это реальность',
                'Оперативная доработка макетов для всех видов печати',
                'Персонализация любой сложности от&nbsp;пригласительных до&nbsp;индивидуальных печатных изданий',
                'Изготовление сигнальных образцов продукции перед цифровой печатью',
                'Доставка продукции',
              ],
              modifierClass: 'about-us-item--icons-service',
            },
            {
              title: 'Преимущества',
              itemsText: [
                'Печатайте ровно столько - сколько Вам необходимо',
                'Высокая производительность при хороших ценах',
                'Оперативная печать отличного качества',
                'Цифровая печать на любых видах дизайнерских бумаг',
                'Наши специалисты обладают знанием и опытом в данной области',
              ],
              modifierClass: 'about-us-item--icons-advantages',
            },
          ],
        },
        typesProducts: {
          title: 'Основные направления цифровой,  офсетной, сувенирной, широкоформатной печати',
          listItems: [
            map.typesProducts.calendar,
            map.typesProducts.menu,
            map.typesProducts.flysheet,
            map.typesProducts.catalog,
            map.typesProducts.flyer,
            map.typesProducts.booklet,
            map.typesProducts.label,
            map.typesProducts.banner,
            map.typesProducts.canvas,
            map.typesProducts.modularPictures,
            map.typesProducts.wallpaper,
            map.typesProducts.wallStickers,
          ],
        },
        orderPlan: {
          title: 'План заказа',
          listItems: [
            {
              text: 'Позвоните или напишите',
              modifierClass: 'order-plan__item--phone-icon',
            },
            {
              text: 'Оперативно получите ответ',
              modifierClass: 'order-plan__item--email-icon',
            },
            {
              text: 'Составим вместе тз и учтём все детали проекта',
              modifierClass: 'order-plan__item--plan-icon',
            },
            {
              text: 'Проверьте и утвердите макет',
              modifierClass: 'order-plan__item--checkbox-icon',
            },
            {
              text: 'Получите продукцию',
              modifierClass: 'order-plan__item--product-icon',
            },
          ],
        },
      },
      empty: {
        title: 'Копи Шоп Оранж: страница разработки',
        className: 'page-empty',
      },
      production: {
        title: 'Копи Шоп Оранж: вся продукция',
        className: 'page-production',
        digitalPrinting: {
          title: 'Цифровая печать',
          description:
            `Типография оранж оказывает  услуги по дизайну, печати и постпечатной обработке
            полиграфической продукции в Санкт-Петербурге в московском районе.
            Среди них вёрстка деловой, рекламной, сувенирной полиграфии`,
          modificationClass: 'production-item--digital-icon',
          listItems: [
            map.typesProducts.flysheet,
            map.typesProducts.booklet,
            map.typesProducts.businessCard,
            map.typesProducts.calendar,
            map.typesProducts.notebook,
            map.typesProducts.brochure,
            map.typesProducts.albumDigital,
            map.typesProducts.invitation,
            map.typesProducts.menu,
            map.typesProducts.block,
            map.typesProducts.envelope,
            map.typesProducts.labelDigital,
            map.typesProducts.flyer,
            map.typesProducts.magazine,
            map.typesProducts.catalog,
            map.typesProducts.diploma,
          ],
        },
        widePrinting: {
          title: 'Широкоформатная печать',
          description:
            `Большой формат, качество печати, сопоставимое с фотографией,
            широкий выбор материалов делает данный вид печати незаменимым
            инструментом в изготовлении рекламных материалов: баннеров,
            вывесок, ролл-аппов, а так же оформление  интерьеров, витрин,
            брендирования транспорта. Плотерная резка дает возможность
            изготовления этикеток и наклеек различных
            форм и размеров при небольших тиражах.`,
          modificationClass: 'production-item--wide-print-icon',
          listItems: [
            map.typesProducts.banner,
            map.typesProducts.posterPaper,
            map.typesProducts.glueFilm,
            map.typesProducts.plotterCutting,
            map.typesProducts.bannerMesh,
            map.typesProducts.photoPaper,
            map.typesProducts.magneticVinyl,
            map.typesProducts.stencilCutting,
            map.typesProducts.canvas,
            map.typesProducts.modularPictures,
            map.typesProducts.wallpaper,
            map.typesProducts.perforatedFilm,
            map.typesProducts.carSticker,
            map.typesProducts.plotterSticker,
            map.typesProducts.fridgeStickers,
            map.typesProducts.wallStickers,
          ],
        },
        souvenir: {
          title: 'Сувенирная продукция',
          description:
            `Типография оранж оказывает  услуги по дизайну, печати
            и постпечатной обработке полиграфической продукции
            в Санкт-Петербурге в московском районе.
            Среди них вёрстка деловой, рекламной, сувенирной полиграфии`,
          modificationClass: 'production-item--souvenir-icon',
          listItems: [],
        },
        design: {
          title: 'Услуги дизайна',
          description:
            `Специалисты нашей типографии помогут Вам найти оптимальные
            решения для реализации Вашего рекламного проекта.`,
          modificationClass: 'production-item--souvenir-icon',
          listItems: [],
        },
      },
    },
  }
