-
  var variables = {
    imagePath: 'img/',
    stylePath: '',
    page: {
      main: {
        title: 'Копи Шоп Оранж: страница разработки',
        className: 'page',
      },
      empty: {
        title: 'Копи Шоп Оранж: Главная',
        className: 'page-empty',
      }
    },
  }
