-
  var variables = {
    test: 'test',
    imagePath: 'img/',
    stylePath: '',
    page: {
      main: {
        title: 'Копи Шоп Оранж: страница разработки',
        className: 'page',
        //- aboutUsData = {
        //-   title: 'Наш сервис',
        //-   items: [
        //-     {
        //-       text: 'Печать каталогов за один час - это реальность'
        //-     },
        //-     {
        //-       text: 'Оперативная доработка макетов для всех видов печати'
        //-     },
        //-     {
        //-       text: 'Персонализация любой сложности от пригласительных до индивидуальных печатных изданий'
        //-     },
        //-     {
        //-       text: 'Изготовление сигнальных образцов продукции перед цифровой печатью'
        //-     },
        //-     {
        //-       text: 'Доставка продукции'
        //-     }
        //-   ],
        //- },
      },
      empty: {
        title: 'Копи Шоп Оранж: Главная',
        className: 'page-empty',
      }
    },
  }
