.index__main {
  margin-top: $main-margin-top;
}

.index__types-works {
  @include page-inner;

  margin-bottom: 30px;
}

.index__simple-decorative-line {
  margin-bottom: 50px;
}

.index__about-us {
  @include page-inner;

  margin-bottom: 30px;
}

.index__decorative-line {
  margin-bottom: 50px;
}

.index__types-products {
  @include page-inner;
}

.index__wrap-order-plan {
  margin-bottom: 30px;

  background-color: var(--main-color);
}

.index__order-plan {
  @include page-inner;
}

@media (max-width: $desktopBreakpoint) {
  .header__wrap-info-item--work-schedule {
    position: absolute ;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@media (max-width: $tabletBreakpoint) {
  .index__types-products {
    max-width: 600px;
  }

  .index__types-works {
    margin-bottom: 20px;
  }

  .index__about-us {
    max-width: 700px;
  }

  .index__decorative-line {
    margin-bottom: 80px;
  }

  .index__wrap-order-plan {
    margin-bottom: 30px;
  }
}
