.page-calendars__main {
  padding-top: 50px;
  padding-bottom: 30px;
}

.page-calendars__wrap-text {
  @include page-inner(var(--semi-max-width-page));

  margin-bottom: 30px;
}

.page-calendars__title {
  text-align: center;
}

.page-calendars__wrap-text > * + * {
  margin-top: 20px;
}

.page-calendars__title + * {
  margin-top: 30px;
}

* + .page-calendars__title {
  margin-top: 50px;
}

.page-calendars__types-calendars {
  @include page-inner(var(--semi-max-width-page));

  margin-bottom: 50px;
}

.page-calendars__lead {
  @include page-inner(var(--semi-max-width-page));

  margin-top: 0;
  margin-bottom: 50px;

  text-align: center;

  color: var(--main-color);

  font-size: var(--font-size-semi-super-extra-big);
}

.page-calendars__calendars-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}
