.page-photo-wallpaper__main {
  margin-top: $main-margin-top;
}

.page-photo-wallpaper__title {
  @include page-inner;

  margin-top: 0;
  margin-bottom: 30px;

  text-align: center;
  text-transform: uppercase;

  font-size: var(--font-size-extra-big);
}

.page-photo-wallpaper__wrap-row {
  margin-bottom: 70px;
}

.page-photo-wallpaper__manager-check {
  margin-bottom: 20px;
}

.page-photo-wallpaper__interior-print {
  @include page-inner;

  max-width: 880px;
  margin-bottom: 50px;
}

.page-photo-wallpaper__information-call {
  @include page-inner;

  max-width: 450px;
  margin-bottom: 50px;
}
