
.page-calendars__main {
  padding-top: 50px;
  padding-bottom: 30px;
}

.page-calendars__wrap-text {
  @include semi-size-page-inner;

  margin-bottom: 30px;
}

.page-calendars__title {
  text-align: center;
}

.page-calendars__wrap-text > * + * {
  margin-top: 20px;
}

.page-calendars__title + * {
  margin-top: 30px;
}

* + .page-calendars__title {
  margin-top: 50px;
}

.page-calendars__types-calendars {
  @include semi-size-page-inner;

  margin-bottom: 50px;
}

.page-calendars__lead {
  @include semi-size-page-inner;

  margin-top: 0;
  margin-bottom: 50px;

  text-align: center;

  color: var(--main-color);

  font-size: var(--font-size-semi-super-extra-big);
}

.page-calendars__calendars-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.page-calendars__calendar-content {
  display: flex;
  justify-content: center;

  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.page-calendars__calendar-column {
  display: flex;
  flex-direction: column;

  width: 50%;
  padding-top: 40px;
  padding-bottom: 70px;
}

.page-calendars__calendar-title {
  align-self: flex-end;

  min-width: 350px;
  margin-bottom: 50px;
}

.page-calendars__calendar-column--color-orange {
  background-color: var(--main-color-light);
}

.page-calendars__calendar-column--color-orange-dark {
  background-color: var(--main-color);
}

.page-calendars__calendar-column--color-green {
  background-color: var(--color-green);
}

.page-calendars__calendar-column--description {
  box-sizing: border-box;
  padding-right: 130px;
  padding-left: 40px;

  box-shadow: var(--box-shadow-second-style);
}

.page-calendars__calendar-description p {
  margin-top: 0;
  margin-bottom: 0;
}

.page-calendars__calendar-description > * + p {
  margin-top: 20px;
  margin-bottom: 0;
}


.page-calendars__calendar-slider {
  align-self: center;

  width: 500px;
  height: 500px;
}

@media (max-width: $desktopBreakpoint) {
  .page-calendars__calendar-slider {
    width: 340px;
    height: 340px;
  }

  .page-calendars__calendar-column--description {
    padding-right: 40px;
  }
}

@media (max-width: $tabletBreakpoint) {
  .page-calendars__calendar-content {
    flex-wrap: wrap;
  }

  .page-calendars__calendar-column {
    flex-grow: 1;

    width: auto;
  }

  .page-calendars__calendar-slider {
    align-self: center;

    width: 500px;
    height: 500px;
  }
}

@media (max-width: $mobileBreakpoint) {
  .page-calendars__calendar-slider {
    width: 290px;
    height: 290px;
  }

  .page-calendars__calendar-title {
    min-width: 290px;
  }
}
