.page-design__main {
  margin-top: $main-margin-top;

  font-family: $secondFont;
}

.page-design__design-studio {
  @include page-inner;

  max-width: 800px;
  margin-bottom: 50px;

  text-align: center;
  text-align: center;

  font-family: $mainFont;
}

.page-design__design-studio::before {
  content: "";

  display: block;

  width: 200px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 25px;

  background-image: url($cssPath + "production-item__design-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.page-design__text {
  margin-top: 0;
  margin-bottom: 0;
}

.page-design__text--design-studio {
  margin-bottom: 15px;
}

.page-design__text--uppercase {
  text-transform: uppercase;
}

.page-design__text--color {
  color: var(--main-color);
}

.page-design__text--title {
  margin-bottom: 30px;
}

.page-design__types-products-list {
  @include page-inner;
}

@media (max-width: $mobileBreakpoint) {
  .page-design__texts-wrap {
    margin-bottom: 35px;
  }
}
