  .page-offset__main {
  padding-top: 50px;
  padding-bottom: 30px;
}

.page-offset__title {
  @include page-inner;

  margin-bottom: 25px;

  text-align: center;
}

.page-offset__wrap-top {
  @include page-inner(var(--semi-max-width-page));

  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.page-offset__wrap-icon {
  flex-shrink: 0;

  margin-top: 50px;
  margin-right: 50px;
}

.page-offset__icon {
  width: 160px;
  height: 160px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;

  background-image: url(img/types-works__offset-icon.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.page-offset__icon-text {
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
  text-transform: uppercase;

  font-size: var(--font-size-semi-small);
  line-height: var(--line-height-semi-big);
}

.page-offset__description {
  margin-top: 0;
  margin-bottom: 25px;
}

.page-offset__description:last-of-type {
  margin-bottom: 0;
}

.page-offset__slider {
  max-width: var(--semi-max-width-page);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.page-offset__slider-wrap-text {
  min-width: 430px;
  max-width: 700px;
  margin-bottom: 50px;
  margin-left: auto;
}

.page-offset__slider-title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  width: calc(100% - 60px);
  height: 100%;

  box-shadow: var(--box-shadow);
}

.page-offset__slider-slides {
  align-self: center;

  width: 460px;
  height: 360px;
}

@media (max-width: $mobileBreakpoint) {
  .page-offset__wrap-top {
    flex-wrap: wrap;
  }

  .page-offset__wrap-icon {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
