.page-label__title {
  @include page-inner;

  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.page-label__slider-and-product-description {
  margin-bottom: 50px;
}

.page-label__information-call {
  @include page-inner;

  max-width: 500px;
  margin-bottom: 50px;
}


