.product-page__main {
  padding-top: 50px;
}

.product-page__title {
  @include page-inner;
  margin-bottom: 30px;

  text-align: center;
}

.product-page__slider-and-product-description {
  margin-bottom: 50px;
}

.product-page__information-call {
  @include page-inner;

  max-width: 500px;
  margin-bottom: 50px;
}

.product-page__price-table {
  @include page-inner;
  margin-bottom: 50px;
}

.product-page__decorative-line {
  margin-bottom: 50px;
}

.product-page__fastening-types {
  @include page-inner(var(--extra-max-width-page));
  margin-bottom: 50px;
}

.product-page__decorative-wrapper {
  margin-bottom: 50px;
}

.product-page__texts {
  @include page-inner;
  margin-bottom: 50px;
}

.product-page__production-item {
  @include page-inner;
}

.product-page__send-ideas {
  @include page-inner;
  text-align: center;
  margin-bottom: 50px;
}

.product-page__interior-print {
  @include page-inner;
  margin-bottom: 50px;
}
