.product-page__main {
  padding-top: 50px;
}

.product-page__title {
  @include page-inner;

  margin-bottom: 30px;

  text-align: center;
}

.product-page__slider-list {
  margin-bottom: 50px;
}

.product-page__slider-and-product-description {
  margin-bottom: 50px;
}

.product-page__information-call {
  @include page-inner;

  max-width: 500px;
  margin-bottom: 50px;
}

.product-page__price-table {
  @include page-inner;

  margin-bottom: 50px;
}

.product-page__decorative-line {
  margin-bottom: 50px;
}

.product-page__fastening-types {
  @include page-inner(var(--extra-max-width-page));

  margin-bottom: 50px;
}

.product-page__decorative-wrapper {
  margin-bottom: 50px;
}

.product-page__texts {
  @include page-inner;

  margin-bottom: 50px;
}

.product-page__texts--size-small {
  margin-bottom: 20px;
}

.product-page__images-list {
  @include page-inner;

  margin-bottom: 50px;
}

.product-page__production-item {
  @include page-inner;
}

.product-page__send-ideas {
  @include page-inner;

  margin-bottom: 50px;

  text-align: center;
}

.product-page__interior-print {
  @include page-inner;

  margin-bottom: 50px;
}

.product-page__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.product-page__wrap-information-call {
  @include page-inner;
  margin-bottom: 50px;
  margin-top: 20px;
}

.product-page__wrap-send-ideas {
  padding-top: 20px;
  @include page-inner;
  margin-bottom: 20px;
}

.product-page__wrap--shadow {
  box-shadow: var(--box-shadow-second-style);
}

.product-page__types-products-list {
  @include page-inner;
}

@media (max-width: $mobileBreakpoint) {
  .product-page__images-list-item {
    width: 100%;
  }
}
