.product-page__main {
  padding-top: 50px;
}

.product-page__title {
  @include page-inner;

  margin-bottom: 30px;

  text-align: center;
}

.product-page__slider-list {
  margin-bottom: 50px;
}

.product-page__slider-and-product-description {
  margin-bottom: 50px;
}

.product-page__information-call {
  @include page-inner;

  max-width: 500px;
  margin-bottom: 50px;
}

.product-page__price-table {
  @include page-inner;

  margin-bottom: 50px;
}

.product-page__decorative-line {
  margin-bottom: 50px;
}

.product-page__fastening-types {
  @include page-inner(var(--extra-max-width-page));

  margin-bottom: 50px;
}

.product-page__decorative-wrapper {
  margin-bottom: 50px;
}

.product-page__texts {
  @include page-inner;

  margin-bottom: 50px;
}

.product-page__texts--size-small {
  margin-bottom: 20px;
}

.product-page__wrap {
  // display: flex;
  // flex-wrap: wrap;
  // flex-grow: 1;
}

.product-page__images-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.product-page__wrap-images-list {
  @include page-inner;
}

.product-page__images-list-item {
  min-width: 345px;
  flex-grow: 1;
  height: 400px;
  background-color: orange;
}

.product-page__images-list-item {
  margin-top: 20px;
  margin-left: 20px;
}

.product-page__production-item {
  @include page-inner;
}

.product-page__send-ideas {
  @include page-inner;

  margin-bottom: 50px;

  text-align: center;
}

.product-page__interior-print {
  @include page-inner;

  margin-bottom: 50px;
}
