include includes/_includes.pug

-
  var pageClassName = 'page-offset';
  var pageTitle = 'Офсетная печать';

<!DOCTYPE html>
html(lang="ru")
  +head(pageTitle, pageTitle)
  body(class=pageClassName)
    +header

    main(class=pageClassName + '__main')
      +titleTypeWork(pageClassName + '__title', {tagName: 'h1', textContent: pageTitle})
    +footer
