include includes/variables.pug
include includes/head.pug
include includes/header.pug
include includes/footer-wrapper.pug
include includes/production-item.pug

-var pageClassName = 'page-interior-printing';
-var pageTitle = 'Интерьерная печать';
-var interiorPrinting = variables.page.production.interiorPrinting;


<!DOCTYPE html>
html(lang="ru")
  +head(pageTitle, pageTitle)
  body(class=pageClassName)
    +header
    main(class=pageClassName + '__main')
      h1.visually-hidden #{pageTitle}
      +productionItem(`${pageClassName}__production-item production-item--interior-icon`, interiorPrinting)
    +footerWrapper
