include includes/_includes.pug

-var pageClassName = 'page-digital-printing';
-var pageTitle = 'Широкоформатная печать, виды работ';
-var widePrinting = variables.page.production.widePrinting;

<!DOCTYPE html>
html(lang="ru")
  +head(pageTitle, pageTitle)
  body(class=pageClassName)
    +header

    main(class=pageClassName + '__main')
      h1.visually-hidden #{pageTitle}
      +productionItem(pageClassName + '__production-item', widePrinting)
      +decorativeWrapper(pageClassName + '__decorative-wrapper', {
        classModifiers: '--image',
      })

    +footerWrapper
