include includes/_includes.pug

-var pageClassName = 'page-print-wallpapers';
-var pageTitle = 'Печать фотообоев';
-var interiorPrinting = variables.page.production.interiorPrinting;

<!DOCTYPE html>
html(lang="ru")
  +head(pageTitle, pageTitle)
  body(class=pageClassName)
    +header

    main(class=pageClassName + '__main')
      h1(class=pageClassName + '__title') #{pageTitle}
      
    +footerWrapper
