.about-us-item--icons-service .about-us-item__list-item:nth-of-type(1)::before {
  background-image: url($cssPath + "about-us-item--clock-icon.svg");
}

.about-us-item--icons-service .about-us-item__list-item:nth-of-type(2)::before {
  background-image: url($cssPath + "about-us-item--art-icon.svg");
}

.about-us-item--icons-service .about-us-item__list-item:nth-of-type(3)::before {
  background-image: url($cssPath + "about-us-item--documents-icon.svg");
}

.about-us-item--icons-service .about-us-item__list-item:nth-of-type(4)::before {
  background-image: url($cssPath + "about-us-item--done-icon.svg");
}

.about-us-item--icons-service .about-us-item__list-item:nth-of-type(5)::before {
  background-image: url($cssPath + "about-us-item--car-icon.svg");
}

.about-us-item--icons-advantages .about-us-item__list-item:nth-of-type(1)::before {
  background-image: url($cssPath + "about-us-item--balance-icon.svg");
}

.about-us-item--icons-advantages .about-us-item__list-item:nth-of-type(2)::before {
  background-image: url($cssPath + "about-us-item--progress-icon.svg");
}

.about-us-item--icons-advantages .about-us-item__list-item:nth-of-type(3)::before {
  background-image: url($cssPath + "about-us-item--prise-icon.svg");
}

.about-us-item--icons-advantages .about-us-item__list-item:nth-of-type(4)::before {
  background-image: url($cssPath + "about-us-item--pattern-icon.svg");
}

.about-us-item--icons-advantages .about-us-item__list-item:nth-of-type(5)::before {
  background-image: url($cssPath + "about-us-item--specialists-icon.svg");
}

.about-us-item__title {
    margin-top: 0px;
    margin-bottom: 40px;

    font-family: $mainFont;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
}

.about-us-item__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-item__list-item {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  font-family: $mainFont;

  font-size: 20px;
  line-height: 24px;

  font-weight: bold;
  color: #000000;
}

.about-us-item__list-item:last-of-type {
  margin-bottom: 0;
}

.about-us-item__list-item::before {
  content: "";

  margin-right: 15px;

  flex-shrink: 0;

  width: 90px;
  height: 90px;

  background-image: url($cssPath + "about-us-item--default-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: $tabletBreakpoint) {
  .about-us-item__list-item {
    margin-bottom: 35px;
    font-size: 18px;
  }

  .about-us-item__list-item::before {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: $mobileBreakpoint) {
  .about-us-item__list-item {
    margin-bottom: 25px;
  }

  .about-us-item__title {
    margin-bottom: 25px;
  }

  .about-us-item__list-item::before {
    width: 50px;
    height: 50px;
  }
}


