.about-us-item {

}

.about-us-item__title {
    margin-top: 0px;
    margin-bottom: 40px;

    font-family: $mainFont;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
}

.about-us-item__list {
  margin: 0;
  padding: 0;
  list-style: none;


}

.about-us-item__list-item {
  font-family: $mainFont;

  font-size: 20px;
  line-height: 24px;

  font-weight: bold;
  color: #000000;
}

