.about-us {
  display: flex;
  justify-content: center;
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us__item:nth-of-type(2n+1) {
  margin-right: 10%;
}

.about-us__item:nth-of-type(n+3) {
  margin-top: 60px;
}

.about-us__item {
  max-width: 45%;
}

@media (max-width: $tabletBreakpoint) {
  .about-us__item:nth-of-type(2n+1) {
    margin-right: 5%;
  }
}

@media (max-width: $mobileBreakpoint) {
  .about-us__list {
    flex-direction: column;
  }

  .about-us__item {
    max-width: none;
  }

  .about-us__item:nth-of-type(2n+1) {
    margin-right: 0;
  }

  .about-us__item:nth-of-type(n+3) {
    margin-top: 0;
  }

  .about-us__item:nth-of-type(n+2) {
    margin-top: 30px;
  }
}
