body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 320px;

  font-family: $mainFont;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

