.decorative-wrapper {
  padding: 25%;

  background-image: linear-gradient(to bottom,
  var(--main-color) 0px, var(--main-color) 10px, transparent 10px, transparent calc(100% - 10px),var(--main-color) calc(100% - 10px), var(--main-color) 100%),
  url($cssPath + "page-production__wrapper-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.decorative-wrapper--image {
  margin-right: 15px;
  margin-left: 15px;

  background-image: url($cssPath + "page-production__image-wrapper--plotter-image.jpg");
  background-size: contain;
}
