.decorative-line {
  position: relative;
}

.decorative-line::before {
  content: "";

  display: block;

  height: 80px;
  margin-bottom: 45px;

  background-color: var(--main-color);
  box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
}

.decorative-line--little-size::before {
  height: 50px;
  margin-bottom: 30px;
}

.decorative-line--simple {
  padding-top: 10px;
  padding-bottom: 0;

  background: linear-gradient(to bottom, var(--main-color) 0px, var(--main-color) 10px, transparent 10px, transparent 100%);
}

.decorative-line--simple-color-gray {
  padding-top: 10px;
  padding-bottom: 0;

  background: linear-gradient(to bottom, var(--color-gray-light) 0px, var(--color-gray-light) 10px, transparent 10px, transparent 100%);
}

.decorative-line--simple-color-green {
  padding-top: 10px;
  padding-bottom: 0;

  background: linear-gradient(to bottom, var(--color-green-dark) 0px, var(--color-green-dark) 10px, transparent 10px, transparent 100%);
}

.decorative-line--simple-color-white {
  padding-top: 10px;
  padding-bottom: 0;

  background: linear-gradient(to bottom, var(--color-white) 0px, var(--color-white) 10px, transparent 10px, transparent 100%);
}

.decorative-line--simple::before {
  display: none;
}

.decorative-line--simple::after {
  display: none;
}

.decorative-line--double-simple {
  padding-top: 10px;
  padding-bottom: 0;
  padding-bottom: 10px;

  background: linear-gradient(to bottom, var(--main-color) 0px, var(--main-color) 10px, transparent 10px, transparent calc(100% - 10px), var(--main-color) calc(100% - 10px), var(--main-color) 100%);
}

.decorative-line--double-simple-color-top-gray {
  padding-top: 10px;
  padding-bottom: 0;
  padding-bottom: 10px;

  background: linear-gradient(to bottom, var(--color-gray-light) 0px, var(--color-gray-light) 10px, transparent 10px, transparent calc(100% - 10px), var(--main-color) calc(100% - 10px), var(--main-color) 100%);
}

.decorative-line--double-simple::before {
  display: none;
}

.decorative-line--double-simple::after {
  display: none;
}

.decorative-line--double-simple-color-top {
  background: linear-gradient(to bottom, #adadad 0px, #adadad 10px, transparent 10px, transparent calc(100% - 10px), var(--main-color) calc(100% - 10px), var(--main-color) 100%);
}

.decorative-line::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;

  width: 105px;
  height: 105px;

  transform: translate(-50%);

  border-radius: 50%;
  background-color: var(--main-color);
}

.decorative-line--little-size::after {
  top: 0;

  width: 80px;
  height: 80px;
}

@media (max-width: $mobileBreakpoint) {
  .decorative-line::before {
    height: 60px;
  }

  .decorative-line::after {
    top: 10px;
    left: 50%;

    width: 90px;
    height: 90px;

    transform: translate(-50%);
  }

  .decorative-line--little-size::before {
    height: 50px;
    margin-bottom: 30px;
  }

  .decorative-line--little-size::after {
    top: 0;

    width: 80px;
    height: 80px;
  }
}
