.decorative-line {
  position: relative;
}

.decorative-line::before {
  content: "";

  height: 80px;
  display: block;
  margin-bottom: 45px;

  background-color: $mainColor;
  box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
}

.decorative-line--little-size::before {
  height: 50px;
  margin-bottom: 30px;
}

.decorative-line--simple {
  padding-bottom: 0;
  padding-top: 10px;
  background: linear-gradient(to bottom, $mainColor 0px, $mainColor 10px, transparent 10px, transparent 100%);
}

.decorative-line--simple::before {
  display: none;
}

.decorative-line--simple::after {
  display: none;
}

.decorative-line--double-simple {
  padding-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, $mainColor 0px, $mainColor 10px, transparent 10px, transparent calc(100% - 10px), $mainColor calc(100% - 10px), $mainColor 100%);
}

.decorative-line--double-simple::before {
  display: none;
}

.decorative-line--double-simple::after {
  display: none;
}

.decorative-line::after {
  content: "";
  position: absolute;

  left: 50%;
  top: 20px;
  transform: translate(-50%);

  width: 105px;
  height: 105px;

  border-radius: 50%;
  background-color: $mainColor;
}

.decorative-line--little-size::after {
  top: 0;

  width: 80px;
  height: 80px;
}

@media (max-width: $mobileBreakpoint) {
  .decorative-line::before {
    height: 60px;
  }

  .decorative-line::after {
    left: 50%;
    top: 10px;
    transform: translate(-50%);

    width: 90px;
    height: 90px;
  }
}
