.decorative-line {
  position: relative;
  padding-bottom: 45px;
}

.decorative-line::before {
  content: "";

  height: 80px;
  display: block;

  background-color: $mainColor;
  box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
}

.decorative-line::after {
  content: "";
  position: absolute;

  left: 50%;
  top: 20px;
  transform: translate(-50%);

  width: 105px;
  height: 105px;

  border-radius: 50%;
  background-color: $mainColor;
}
