.footer {
  margin-top: auto;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__copyright-link {
  width: 300px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.footer__copyright-text {
  margin-top: 0;
  margin-bottom: 0;

  font-family: $mainFont;
  line-height: 18px;
  font-size: 15px;
  color: $mainColor;
}

.footer__copyright-logo-image {
  width: 50px;
  height: 50px;
}
