.header-email {
  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 0;
}

.header-email::before {
	content: "";

	height: 71px;

	margin-bottom: 17px;

  background-image: url(#{$cssPath + 'mail-icon.svg'});
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.header-email__value {
  margin-left: 0;
  text-align: center;
}

.header-email__link {
  color: #F7931E;
  font-family: $mainFont;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;

  display: inline-block; // увеличивает кликабельную зону ссылки
  margin-top: -90px; //
  padding-top: 90px; //
}

@media (max-width: $tabletBreakpoint) {
  .header-email::before {
    height: 65px;
    width: 65px;
    align-self: center;
  }

  .header-email__link {
    font-size: 17px;
    line-height: 20px;
  }
}
