.header-phone {
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-phone::before {
  content: "";

  width: 71px;
  height: 71px;
  margin-bottom: 17px;

	background-image: url("#{$cssPath + 'phone-icon.svg'}");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 71px 71px;
}

.header-phone__value {
  display: flex;

  margin-left: 0;
  margin-bottom: 17px;
}

.header-phone__link {
  text-transform: uppercase;
  color: #F7931E;
  font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
  font-weight: bold;

  font-size: 21px;
  line-height: 25px;
  text-align: center;

  text-decoration: none;

  display: inline-block; // увеличивает кликабельную зону ссылки
  margin-top: -90px; //
  padding-top: 90px; //
}

@media (max-width: 768px) {
  .header-phone__link--no-wrap {
    white-space: nowrap;
  }
}
