.header {
	padding-top: 20px;
}

.header__wrap-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

	max-width: 1200px;

	margin-left: auto;
	margin-right: auto;
  margin-bottom: 20px;

  padding-left: 15px;
  padding-right: 15px;

  box-sizing: border-box;
}

.header__wrap-info-item {
  margin-top: 45px;
}

.header__wrap-info-item--logo {
  margin-top: 0;
}

@media (max-width: 1024px) {
  .header__wrap-info-item {
    margin-top: 30px;
  }

  .header__wrap-info-item--logo {
    order: -1;

    display: flex;
    justify-content: center;

    width: 100%;

    margin-right: 0;
    margin-top: 0;
  }

  .header__main-nav {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  .header__wrap-info {
    display: grid;
    grid-template-areas:
    "logo logo"
    "phone email"
    "work-schedule header-address";
    grid-template-columns: 1fr 1fr;
    // grid-column-gap: 40px;
  }

  .header__wrap-info-item {
    min-width: 145px;
  }

  .header__wrap-info-item--work-schedule {
    grid-area: work-schedule;
    // justify-self: flex-end;
  }

  .header__wrap-info-item--email {
    grid-area: email;
    // justify-self: flex-start;
  }

  .header__wrap-info-item--logo {
    grid-area: logo;
  }

  .header__wrap-info-item--header-phone {
    grid-area: phone;
    // justify-self: flex-end;
  }

  .header__wrap-info-item--header-address {
    grid-area: header-address;
    // justify-self: flex-start;
  }

  .header__main-nav {
    grid-area: nav;
  }
}

@media (max-width: 425px) {
  .header__wrap-info {
    grid-column-gap: 0;
  }
}
