.header {
	padding-top: 20px;
}

.header__wrap-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

	max-width: 1200px;

	margin-left: auto;
	margin-right: auto;
  margin-bottom: 20px;

  padding-left: 15px;
  padding-right: 15px;

  box-sizing: border-box;
}

.header__wrap-info-item {
  margin-top: 45px;
}

.header__wrap-info-item--logo {
  margin-top: 0;
}

@media (max-width: $desktopBreakpoint) {
  .header__wrap-info-item {
    margin-top: 25px;
  }

  .header__wrap-info {
    display: grid;
    grid-template-areas:
    "logo logo logo"
    "phone header-address email";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__wrap-info-item--logo {
    justify-self: center;

    display: flex;
    justify-content: center;

    margin-top: 0;
  }

  .header__main-nav {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header__wrap-info-item--work-schedule {
    grid-area: work-schedule;
  }

  .header__wrap-info-item--email {
    grid-area: email;
  }

  .header__wrap-info-item--logo {
    grid-area: logo;
  }

  .header__wrap-info-item--header-phone {
    grid-area: phone;
  }

  .header__wrap-info-item--header-address {
    grid-area: header-address;
  }
}

@media (max-width: $tabletBreakpoint) {
  .header__wrap-info {
    display: grid;
    grid-template-areas:
    "logo logo logo"
    "phone header-address email";
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: $mobileBreakpoint) {
  .header__wrap-info {
    display: grid;
    grid-template-areas:
    "logo"
    "email"
    "phone"
    "header-address";
    grid-template-columns: 1fr;
  }
}
