.information-call {
  text-align: center;

  color: #7f7f7f;

  font-family: $mainFont;
  font-size: 18px;
  line-height: 1.22;
}

.information-call__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--main-color);

  font: inherit;
  font-weight: bold;
}

.information-call__link-phone {
  display: block;

  margin-bottom: 10px;

  text-decoration: none;

  color: inherit;
}

.information-call__phone {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 0;

  text-align: center;

  color: #ffffff;
  border-radius: 20px;
  background-color: var(--main-color);
  box-shadow: 6px 6px 8px rgba(0,0,0,0.15);

  font-size: 56px;
  font-weight: bold;
  line-height: 67px;
}

.information-call__text {
  margin-top: 0;
  margin-bottom: 5px;
}

.information-call__link-email {
  display: block;

  margin: -10px; // увеличивает кликабельную зону ссылки
  padding: 10px; // увеличивает кликабельную зону ссылки

  text-decoration: none;

  color: inherit;
}

.information-call__email {
  margin-top: 0;
  margin-bottom: 0;

  text-transform: uppercase;

  font: inherit;
}
