.label {
  position: relative;

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 85px;

  background-image: linear-gradient(55deg, transparent 0px, transparent 50px, var(--color-white) 50px, var(--color-white));
}

.label--color-orange {
  background-image: linear-gradient(55deg, transparent 0px, transparent 50px, var(--main-color-light) 50px, var(--main-color-light));
}

.label--color-white {
  background-image: linear-gradient(55deg, transparent 0px, transparent 50px, var(--color-white) 50px, var(--color-white));
}

.label--color-green {
  background-image: linear-gradient(55deg, transparent 0px, transparent 50px, var(--color-green) 50px, var(--color-green));
}

.label::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  width: calc(100% - 60px);
  height: 100%;

  box-shadow: var(--box-shadow);
}

.label__title {
  margin-top: 0;
  margin-bottom: 0;

  text-transform: uppercase;

  color: var(--main-color);

  font-size: var(--font-size-semi-super-extra-big);
  font-weight: bold;
}

.label__title + .label__description {
  margin-left: 20px;
}

.label__title--color-white {
  color: var(--color-white);
}

.label__title--color-green {
  color: var(--color-green);
}

.label__title--color-orange {
  color: var(--main-color);
}

.label__description {
  margin-top: 0;
  margin-bottom: 0;

  color: #7f7f7f;

  font-size: var(--font-size-semi-big);
  font-weight: bold;
  line-height: var(--line-height-normal);
}

.label__description--color-black {
  color: var(--base-color);
}

.label__description--color-gray {
  color: var(--color-gray);
}

.label__description--color-green {
  color: var(--color-green);
}

.label__description--color-orange {
  color: var(--main-color);
}
