.manager-check {
  margin-top: 0;
  margin-bottom: 0;

  letter-spacing: 0;

  color: var(--main-color);

  font-size: var(--font-size-normal);
  font-style: italic;
  line-height: var(--line-height-normal);
}
