.page-interior-printing__main {
  margin-top: $main-margin-top;
}

.page-interior-printing__production-item {
  @include page-inner;
}

.page-interior-printing__information-call {
  @include page-inner;
  max-width: 450px;
  margin-bottom: 60px;
}

.page-interior-printing__information-call--price-table {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.page-interior-printing__decorative-line {
  margin-bottom: 80px;
}

.page-interior-printing__slider {
  margin-bottom: 50px;
}

.page-interior-printing__wrap {
  @include page-inner;
  max-width: 860px;
}

.page-interior-printing__advantages {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;

  font-family: $mainFont;
}

.page-interior-printing__advantages-title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  font-size: 26px;
  line-height: 1.19;
  text-transform: uppercase;
}

.page-interior-printing__advantages-list {
  @include reset-list;
  width: 45%;
  margin-right: 10%;
}

.page-interior-printing__advantages-list:nth-of-type(even){
  margin-right: 0;
}

.page-interior-printing__advantages-item {
  font-size: 17px;
  line-height: 1.2;
  font-weight: bold;

  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url($cssPath + "page-interior-printing--prise-icon.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: top 10px left;
}

.page-interior-printing__price-printing {
  padding: 50px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  box-shadow: -3px -7px 15px rgba(0,0,0,0.2);
}

@media (max-width: $tabletBreakpoint) {
  .page-interior-printing__price-printing {
    padding: 0;
    box-shadow: none;
  }
}

@media (max-width: $mobileBreakpoint) {
  .page-interior-printing__advantages-list {
    @include reset-list;
    width: auto;
    margin-right: 0;
  }
}
