.page-production__main {
  padding-top: 40px;
}

.page-production__production-item {
  @include page-inner;
  margin-bottom: 30px;
}

.page-production__production-item--design {
  margin-bottom: 0;
}

.page-production__wrapper {
  width: 100%;
  margin-bottom: 50px;

  padding: 25%;
  background-image:
    linear-gradient(to bottom,
      #fda300 0px, #fda300 10px, transparent 10px, transparent calc(100% - 10px),#fda300 calc(100% - 10px), #fda300 100%),
   url($cssPath + "page-production__wrapper-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page-production__wrap-design {
  padding-top: 70px;
  margin-bottom: 30px;
}

.page-production__decorative-image {
  margin-bottom: 50px;
}

.page-production__decorative-image--plotter {
  margin-bottom: 70px;
}

.page-production__footer {
  margin-top: 70px;
}

@media (max-width: $mobileBreakpoint) {
  .page-production__wrap-design {
    padding-top: 50px;
  }
}




