.page-photo-wallpaper__main {
  margin-top: $main-margin-top;
}

.page-photo-wallpaper__title {
  @include page-inner;

  margin-top: 0;
  margin-bottom: 30px;

  text-align: center;
  text-transform: uppercase;

  font-size: 26px;
  line-height: 1.19;
}

.page-photo-wallpaper__wrap-row {
  margin-bottom: 70px;
}

.page-photo-wallpaper__inner-wrap-row {
  @include page-inner;

  display: flex;

  padding-right: 0;
  padding-left: 0;

  background-color: #f5ba00;
}

.page-photo-wallpaper__slider {
  flex-shrink: 0;

  width: 500px;
  height: 400px;
}

.page-photo-wallpaper__wrap-column {
  padding: 40px;

  background-color: #ffffff;
  box-shadow: -3px -7px 15px rgba(0, 0, 0, 0.2);
}

.page-photo-wallpaper__wrap-text {
  margin-bottom: 50px;

  letter-spacing: 1px;

  font-size: $fontSizeNormal;
  line-height: $lineHeightNormal;
}

.page-photo-wallpaper__text {
  margin-top: 0;
  margin-bottom: 30px;
}

.page-photo-wallpaper__manager-check {
  margin-bottom: 20px;
}

.page-photo-wallpaper__text:last-of-type {
  margin-bottom: 0;
}

.page-photo-wallpaper__interior-print {
  @include page-inner;

  max-width: 840px;
  margin-bottom: 50px;
}

.page-photo-wallpaper__information-call {
  @include page-inner;

  max-width: 450px;
  margin-bottom: 50px;
}

@media (max-width: $desktopBreakpoint) {
  .page-photo-wallpaper__inner-wrap-row {
    align-items: center;
    flex-direction: column;
  }

  .page-photo-wallpaper__inner-wrap-row {
    background-color: transparent;
  }
}

@media (max-width: $tabletBreakpoint) {
  .page-photo-wallpaper__slider {
    width: calc(500px * 0.6);
    height: calc(400px * 0.6);

    border-width: calc(70px * 0.6);
  }

  .page-photo-wallpaper__wrap-text {
    font-size: $fontSizeNormal;
    line-height: $lineHeightNormal;
  }

  .page-photo-wallpaper__wrap-text {
    font-size: $fontSizeNormal;
    line-height: $lineHeightNormal;
  }

  .page-photo-wallpaper__wrap-text {
    margin-bottom: 50px;

    letter-spacing: 1px;

    font-size: $fontSizeSemiSmall;
  }
}

@media (max-width: $mobileBreakpoint) {
  .page-photo-wallpaper__slider {
    width: calc(500px * 0.45);
    height: calc(400px * 0.45);

    border-width: calc(70px * 0.45);
  }
}
