// TODO: потом нужно будет все блоки переделать с использованием & для элементов

.page-photo-wallpaper {
  &__main {
    margin-top: $main-margin-top;
  }

  &__title {
    @include page-inner;

    margin-top: 0;
    margin-bottom: 30px;

    text-align: center;
    text-transform: uppercase;

    font-size: 26px;
    line-height: 1.19;
  }

  &__wrap-row {
    margin-bottom: 70px;
  }

  &__inner-wrap-row {
    @include page-inner;

    display: flex;

    padding-right: 0;
    padding-left: 0;
  }

  &__slider {
    flex-shrink: 0;

    width: 500px;
    height: 400px;
  }

  &__wrap-column {
    padding: 40px;

    box-shadow: -3px -7px 15px rgba(0, 0, 0, 0.2);
  }

  &__wrap-text {
    margin-bottom: 50px;

    letter-spacing: 1px;

    font-size: $fontSizeNormal;
    line-height: $lineHeightNormal;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__manager-check {
    margin-bottom: 20px;
  }

  &__text:last-of-type {
    margin-bottom: 0;
  }

  &__interior-print {
    @include page-inner;

    max-width: 840px;
    margin-bottom: 50px;
  }

  &__information-call {
    @include page-inner;

    max-width: 450px;
    margin-bottom: 50px;
  }
}
