.page {
 @include page-default;
}

.page__header {
  margin-bottom: 30px;
}

.page__main {}

.page__types-works {
  @include page-inner;
  margin-bottom: 40px;
}

.page__wrap-about-us {
  margin-bottom: 50px;
}

.page__about-us {
  @include page-inner;
  padding-top: 60px;
}

.page__wrap-types-products {
  margin-bottom: 80px;
}

.page__wrap-types-products::before {
  margin-bottom: 80px;
}

.page__types-products {
  @include page-inner;
}

.page__wrap-order-plan {
  background-color: $mainColor;
  margin-bottom: 30px;
}

.page__order-plan {
  @mixin page-inner;
}

.page__decorative-line {}

.page__footer {
  margin-top: auto;
}

@media (max-width: $desktopBreakpoint) {
  .header__wrap-info-item--work-schedule {
    position: absolute ;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
  }
}

@media (max-width: $tabletBreakpoint) {
  .page__header {
    margin-bottom: 0;
  }

  .page__types-products {
    max-width: 600px;
  }

  .page__types-works {
    margin-bottom: 20px;
  }

  .page__about-us {
    max-width: 700px;
  }

  .page__wrap-types-products {
    margin-bottom: 20px;
  }

  .page__wrap-order-plan {
    margin-bottom: 30px;
  }
}

@media (max-width: $mobileBreakpoint) {}
