.page-contacts__header {
  margin-bottom: 50px;
}

.page-contacts__plan-map {
  @include page-inner;

  display: flex;
  justify-content: center;

  margin-bottom: 20px;
}

.page-contacts__plan-map-wrap-images {
  display: flex;
  flex-wrap: wrap;
}

.page-contacts__plan-map-image {
  width: 50%;
  height: auto;
}

@media (max-width: $mobileBreakpoint) {
  .page-contacts__plan-map-image {
    width: 100%;
  }

  .page-contacts__plan-map {
    margin-bottom: 10px;
  }
}
