.price-table {
  display: flex;
  flex-direction: column;

  font-family: $mainFont;
}

.price-table--title-align-right {
  text-align: right;
}

.price-table__title {
  margin-top: 0;
  margin-bottom: 20px;

  text-transform: uppercase;

  color: var(--main-color);

  font-size: var(--font-size-extra-big);
  font-weight: normal;
  line-height: var(--line-height-normal);
}

.price-table__table {
  text-align: center;

  border-collapse: collapse;
}

.price-table__table-row:nth-of-type(odd) {
  background-color: rgba(lightgray, 0.2);
}

.price-table__table-cell {
  padding: 10px 15px;

  text-align: center;

  color: #656565;
  border: 1px solid #cccccc;

  font-size: var(--font-size-normal);
  font-weight: bold;
}

.price-table__table-cell--first-column {
  text-align: left;

  font-weight: normal;
}

.price-table__table-cell:first-of-type {
  padding-right: 10px;
  padding-left: 10px;
}

.price-table__table-cell--title {
  color: #ffffff;
  background-color: var(--main-color);

  font-weight: bold;
}

.price-table__tiny-text {
  font-size: var(--font-size-semi-small);
}

@media (max-width: $tabletBreakpoint) {
  .price-table__title {
    font-size: var(--font-size-extra-big);
  }

  .price-table__table-cell {
    padding: 10px 5px;

    font-size: var(--font-size-semi-small);
  }
}

@media (max-width: $mobileBreakpoint) {
  .price-table__title {
    font-size: var(--font-size-semi-big);
  }
}
