.price-table {
  display: flex;
  flex-direction: column;

  font-family: $mainFont;
}

.price-table--title-align-right {
  text-align: right;
}

.price-table__title {
  margin-top: 0;
  margin-bottom: 20px;

  text-transform: uppercase;

  color: $mainColor;

  font-size: $fontSizeBig;
  font-weight: normal;
  line-height: $lineHeightNormal;
}

.price-table__table {
  text-align: center;

  border-collapse: collapse;
}

.price-table__table-cell {
  padding: 10px 15px;

  color: #656565;
  border: 1px solid #cccccc;

  font-size: $fontSizeNormal;
  font-weight: bold;
  text-align: center;
}

.price-table__table-cell--color {
  background-color: rgba(lightgray, 0.3);
}

.price-table__table-cell--first-column {
  text-align: left;

  font-weight: normal;
}

.price-table__table-cell--title {
  color: #ffffff;
  background-color: $mainColor;

  font-weight: bold;
  text-align: center;
}

.price-table__table-cell--title:first-of-type {
  text-align: left;
}

.price-table__tiny-text {
  font-size: 14px;
}

@media (max-width: $tabletBreakpoint) {
  .price-table__title {
    font-size: $fontSizeSemiBig;
  }

  .price-table__table-cell {
    padding: 5px;

    font-size: $fontSizeSmall;
  }
}

@media (max-width: $mobileBreakpoint) {
  .price-table__table-cell {
    padding: 5px 0;
  }
}
