.slider {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  padding-top: 30px;
  padding-bottom: 50px;

  background-color: var(--main-color-light);
}

.slider__title {
  align-self: flex-end;

  min-width: 350px;
  margin-bottom: 20px;
}

.slider__slider-list {
  align-self: center;

  width: 500px;
  height: 500px;
  margin-top: 20px;
}

.slider--color-orange {
  background-color: var(--main-color-light);
}

.slider--color-orange-dark {
  background-color: var(--main-color);
}

.slider--color-green {
  background-color: var(--color-green);
}

.slider--color-white {
  background-color: var(--color-white);
}

@media (max-width: $desktopBreakpoint) {
  .slider__slider-list {
    width: 340px;
    height: 340px;
  }
}

@media (max-width: $tabletBreakpoint) {
  .slider__slider-list {
    align-self: center;

    width: 500px;
    height: 500px;
  }
}

@media (max-width: $mobileBreakpoint) {
  .slider__slider-list {
    width: 290px;
    height: 290px;
    margin-top: 10px;
  }

  .slider__title {
    min-width: 290px;
    margin-bottom: 20px;
  }

  .slider {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
