.slider-and-product-description__content {
  display: flex;
  justify-content: center;

  max-width: var(--extra-max-width-page);
  margin-right: auto;
  margin-left: auto;
}

.slider-and-product-description__column-slider {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 50%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.slider-and-product-description__column-texts {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  max-width: 50%;
  padding-top: 50px;
  padding-right: 130px;
  padding-bottom: 50px;
  padding-left: 40px;

  box-shadow: var(--box-shadow-second-style);
}

.slider-and-product-description__column-texts > * + * {
  margin-top: 50px;
}

.slider-and-product-description__column-texts > * + .slider-and-product-description__send-ideas {
  margin-top: 20px;
}

@media (max-width: $desktopBreakpoint) {
  .slider-and-product-description__column-texts {
    padding-right: 40px;
  }
}

@media (max-width: $tabletBreakpoint) {
  .slider-and-product-description__content {
    flex-wrap: wrap;
  }

  .slider-and-product-description__column-texts {
    max-width: 100%;
  }

  .slider-and-product-description__column-slider {
    height: 380px;
  }
}
