.slider-and-product-description {
  display: flex;
  justify-content: center;

  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.slider-and-product-description__column {
  //потом удаляем, когда реализуем блок полностью
  display: flex;
  flex-direction: column;

  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.slider-and-product-description__column-slider {
  display: flex;
  flex-direction: column;

  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.slider-and-product-description__column-texts {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 50%;
  padding-top: 50px;
  padding-right: 130px;
  padding-bottom: 50px;
  padding-left: 40px;

  box-shadow: var(--box-shadow-second-style);
}

.slider-and-product-description__title {
  align-self: flex-end;

  min-width: 350px;
  margin-bottom: 50px;
}

.slider-and-product-description__column--color-orange {
  //потом удаляем, когда реализуем блок полностью
  background-color: var(--main-color-light);
}

.slider-and-product-description__column--color-orange-dark {
  //потом удаляем, когда реализуем блок полностью
  background-color: var(--main-color);
}

.slider-and-product-description__column--color-green {
  //потом удаляем, когда реализуем блок полностью
  background-color: var(--color-green);
}


.slider-and-product-description__column-slider--color-orange {
  background-color: var(--main-color-light);
}

.slider-and-product-description__column-slider--orange-dark {
  background-color: var(--main-color);
}

.slider-and-product-description__column-slider--color-green {
  background-color: var(--color-green);
}

.slider-and-product-description__column--description {
  //потом удаляем, когда реализуем блок полностью
  box-sizing: border-box;
  padding-right: 130px;
  padding-left: 40px;

  box-shadow: var(--box-shadow-second-style);
}

.slider-and-product-description__slider {
  align-self: center;

  width: 500px;
  height: 500px;
}

@media (max-width: $desktopBreakpoint) {
  .slider-and-product-description__slider {
    width: 340px;
    height: 340px;
  }

  .slider-and-product-description__column--description {
    //потом удаляем, когда реализуем блок полностью
    padding-right: 40px;
  }

  .slider-and-product-description__column-texts {
    padding-right: 40px;
  }
}

@media (max-width: $tabletBreakpoint) {
  .slider-and-product-description {
    flex-wrap: wrap;
  }

  .slider-and-product-description__column {
    // потом удаляем, когда реализуем блок полностью
    flex-grow: 1;

    width: auto;
  }

  .slider-and-product-description__column-slider {
    flex-grow: 1;

    width: auto;
  }

  .slider-and-product-description__column-texts {
    flex-grow: 1;

    width: auto;
  }

  .slider-and-product-description__slider {
    align-self: center;

    width: 500px;
    height: 500px;
  }
}

@media (max-width: $mobileBreakpoint) {
  .slider-and-product-description__slider {
    width: 290px;
    height: 290px;
  }

  .slider-and-product-description__title {
    min-width: 290px;
  }
}
