.texts {
  letter-spacing: 1px;
}

.texts--image {
  // модификатор картинки
  min-height: 354px;
}

.texts__image {
  float: left;

  margin-right: 30px;
  margin-bottom: 20px;
}

.texts__image-title {
  color: var(--main-color);
}

.texts__image-content {
  display: block;

  width: 536px;
  height: 354px;

  background-image: url("img/texts__image-content--1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.texts--slider {
  // модификатор слайдера
  min-height: 500px;
}

.texts__slider {
  float: left;

  margin-right: 30px;
  margin-bottom: 20px;

  width: 500px;
  height: 500px;
  padding: 50px;
}

.texts--position-image-right .texts__image {
  // модификатор положения картинки
  float: right;

  margin-right: 0;
  margin-left: 30px;
}

.texts--position-image-right .texts__image-title {
  text-align: right;
}

.texts p {
  margin-top: 0;
  margin-bottom: 0;
}

.texts b {
  color: var(--main-color);
}

.texts > * + p {
  margin-top: 20px;
  margin-bottom: 0;
}

.texts__image + p {
  margin-top: 0;
  // padding-top: 45px;
}

// .texts p + .texts__text-title {
//   margin-top: 20px;
// }

.texts * + * {
  margin-top: 20px;
}

.texts__image + .texts__text-title {
  margin-top: 0;
}

.texts__images-list {
  @include page-inner;
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
}

.texts__images-list-item {
  flex-grow: 1;
  background-color: tomato;
}

@media (max-width: $desktopBreakpoint) {
  .texts__slider {
    float: none;
    width: 100%;
    // margin-right: auto;
    // margin-left: auto;
  }

  .texts__image {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    float: none;
    margin-right: 0;
  }

  .texts__image-title {
    text-align: center;
  }

  .texts__image-content {
    width: 100%;
  }

  .texts__image-title--label {
    max-width: 100%;
  }

  .texts__image + .texts__text-title {
    margin-top: 20px;
  }
}

@media (max-width: $tabletBreakpoint) {}

@media (max-width: $mobileBreakpoint) {
  .texts__slider {
    padding: 15px;
    height: 300px;
    margin-bottom: 0;
  }
}

