.title-type-work {
  margin-top: 0;
  margin-bottom: 0;

  text-transform: uppercase;

  font-size: var(--font-size-extra-big);
}

@media (max-width: $mobileBreakpoint) {
  .production-item__title {
    font-size: var(--font-size-semi-big);
  }
}
