.types-works {
  font-family: $mainFont;
  text-align: center;
  text-transform: uppercase;
}

.types-works__wrap-list-cards {
  display: flex;
}

.types-works__list-cards {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.types-works__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 285px;
}

.types-works__card:hover {
  box-shadow: 8px 8px 10px rgba(0,0,0,0.13);
}

.types-works__card:hover .types-works__card-title {
  color: $mainColor;
}

.types-works__card:hover .types-works__card-intro {
  color: #7f7f7f;
}

.types-works__card:hover .types-works__card-list-item {
  color: #7f7f7f;
}

.types-works__card-link {
  width: 100%;
  min-height: 310px;

  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  box-sizing: border-box;

  color: inherit;
  text-decoration: none;

  background-image: url($cssPath + 'types-works__offset-icon.svg');
  background-repeat: no-repeat;
  background-position: top 30px center;
  background-size: 145px auto;
}

.types-works__card-link--icon-digital {
  background-image: url($cssPath + 'types-works__digital-icon.svg');
}

.types-works__card-link--icon-wide-print {
  background-size: 165px auto;
  background-image: url($cssPath + 'types-works__wide-print-icon.svg');
}

.types-works__card-link--icon-design {
  background-size: 165px auto;
  background-image: url($cssPath + 'types-works__design-icon.svg');
}

.types-works__card-link--icon-souvenir {
  background-size: 130px auto;
  background-image: url($cssPath + 'types-works__souvenir-icon.svg');
}

.types-works__card-link--icon-interior {
  background-size: 120px auto;
  background-image: url($cssPath + 'types-works__interior-icon.svg');
}

.types-works__card-link--icon-photowall-paper {
  background-size: 175px auto;
  background-image: url($cssPath + 'types-works__photowall-paper.svg');
}

.types-works__card-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: bold;
  letter-spacing: 1px;
  font-size: 17px;
  line-height: 1.4;
}

.types-works__card-title-first-part {
  display: none;
}

.types-works__card-intro {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.types-works__card-list {
  @include reset-list;
}

.types-works__card-list--comma-style {
  display: block;
}

.types-works__card-list--comma-style .types-works__card-list-item::after {
  content: ",";
  display: inline-block;
}

.types-works__card-list--comma-style .types-works__card-list-item:last-of-type::after {
  content: none;
}

.types-works__card-list--comma-style .types-works__card-list-item {
  display: inline-block;
}

.types-works__card-list-item {
  font-size: 14px;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .types-works__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46%;
  }

  .types-works__card-link {
    padding-top: 130px;
    min-height: 230px;
    background-size: 90px auto;
  }


  .types-works__card-title {
    font-size: 18px;
    line-height: 1.2;
  }

  .types-works__card-title-first-part {
    display: block;
  }

  .types-works__card-intro {
    font-size: 16px;
    line-height: 1.2;
  }

  .types-works__card-list-item {
    font-size: 16px;
    line-height: 1.2;
  }

  .types-works__card-link--icon-souvenir {
    background-position: top 10px center;
    background-size: 90px auto;
  }

  .types-works__card-link--icon-interior {
    background-position: top 10px center;
    background-size: 80px auto;
  }

  .types-works__card-link--icon-photowall-paper {
    padding-top: 110px;
    background-size: 100px auto;
    background-position: top 10px center;
  }

  .types-works__card-list--comma-style {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
