.types-products__title {
  margin-top: 0;
  margin-bottom: 60px;

  text-align: center;
  text-transform: uppercase;

  color: var(--main-color);

  font-family: $mainFont;
  font-size: var(--font-size-extra-big);
  font-weight: bold;
  line-height: var(--line-height-semi-big);
}

@media (max-width: $mobileBreakpoint) {
  .types-products__title {
    margin-bottom: 20px;

    font-size: var(--font-size-semi-big);
  }
}
