.types-works {
  text-align: center;
  text-transform: uppercase;

  font-family: $mainFont;
}

.types-works__wrap-list-cards {
  display: flex;
}

.types-works__list-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.types-works__card {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 285px;
}

.types-works__card:hover {
  box-shadow: 8px 8px 10px rgba(0,0,0,0.13);
}

.types-works__card:hover .types-works__card-title {
  color: var(--main-color);
}

.types-works__card:hover .types-works__card-text {
  color: #7f7f7f;
}

.types-works__card-link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  box-sizing: border-box;
  width: 100%;
  padding-top: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  text-decoration: none;

  color: inherit;
  background-image: url($cssPath + "types-works__offset-icon.svg");
  background-repeat: no-repeat;
  background-position: top 30px center;
  background-size: 145px auto;
}

.types-works__card-link--icon-digital {
  background-image: url($cssPath + "types-works__digital-icon.svg");
}

.types-works__card-link--icon-wide-print {
  background-image: url($cssPath + "types-works__wide-print-icon.svg");
  background-size: 165px auto;
}

.types-works__card-link--icon-design {
  background-image: url($cssPath + "types-works__design-icon.svg");
  background-size: 165px auto;
}

.types-works__card-link--icon-souvenir {
  background-image: url($cssPath + "types-works__souvenir-icon.svg");
  background-size: 130px auto;
}

.types-works__card-link--icon-interior {
  background-image: url($cssPath + "types-works__interior-icon.svg");
  background-size: 120px auto;
}

.types-works__card-link--icon-photowall-paper {
  background-image: url($cssPath + "types-works__photowall-paper.svg");
  background-size: 175px auto;
}

.types-works__card-title {
  margin-top: 0;
  margin-bottom: 10px;

  letter-spacing: 1px;
  word-wrap: break-word;

  font-size: var(--font-size-normal);
  font-weight: bold;
  line-height: var(--line-height-semi-big);
}

.types-works__card-text {
  margin-top: 0;
  margin-bottom: 0;

  word-wrap: break-word;

  font-size: var(--font-size-semi-small);
  line-height: var(--line-height-semi-big);
}

@media (max-width: $desktopBreakpoint) {
  .types-works__card {
    width: 33.3%;
  }
}

@media (max-width: $tabletBreakpoint) {
  .types-works__card-link {
    padding-top: 130px;

    background-size: 90px auto;
  }

  .types-works__card-title {
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
  }

  .types-works__card-link--icon-souvenir {
    background-position: top 10px center;
    background-size: 90px auto;
  }

  .types-works__card-link--icon-interior {
    background-position: top 10px center;
    background-size: 80px auto;
  }

  .types-works__card-link--icon-photowall-paper {
    padding-top: 110px;

    background-position: top 10px center;
    background-size: 100px auto;
  }
}

@media (max-width: $semiMobileBreakpoint) {
  .types-works__card {
    // убирает горизонтальный скролл который появляется из за широкоформатной печати
    width: 50%;
  }

  .types-works__card-link {
    padding-right: 10px;
    padding-left: 10px;
  }
}


@media (max-width: $mobileBreakpoint) {
  .types-works__card {
    width: 50%;
  }
}
