.types-products-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.types-products-list__link {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.types-products-list__item {
  width: 245px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.types-products-list__item:hover .types-products-list__image {
  transition-duration: 0.5s;
  transition-property: transform, filter;
  transform: scale(0.96);

  filter: grayscale(100%);
}

.types-products-list__item:hover .types-products-list__wrap-image {
  transition-duration: 0.5s;
  transition-property: box-shadow;

  box-shadow: 5px 5px 15px -5px grey, 0 0 0 10px white, 0 0 0 14px var(--main-color);
}

.types-products-list__link {
  text-decoration: none;
}

.types-products-list__wrap-image {
  overflow: hidden;

  box-sizing: border-box;
  width: 245px;
  height: 245px;
  margin-bottom: 30px;

  border: 3px solid #ffffff;
  border-radius: 50%;
  box-shadow: 5px 5px 15px -5px grey;
}

.types-products-list__image {
  display: block;

  width: 100%;
  height: auto;
}

.types-products-list__title {
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  font-family: $mainFont;
  font-size: var(--font-size-semi-big);
  font-weight: bold;
  line-height: var(--line-height-semi-big);
}

@media (max-width: $tabletBreakpoint) {
  .types-products-list__item {
    width: 170px;
    margin-bottom: 40px;
  }

  .types-products-list__wrap-image {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: $mobileBreakpoint) {
  .types-products-list {
    justify-content: center;
  }

  .types-products-list__title {
    font-size: var(--font-size-semi-small);
  }

  .types-products-list__item {
    width: 140px;
    margin-bottom: 20px;
  }

  .types-products-list__wrap-image {
    width: 130px;
    height: 130px;
  }
}
