.types-products {}

.types-products__title {
  margin-top: 0;
  margin-bottom: 60px;

  text-align: center;
  text-transform: uppercase;
  font-family: $mainFont;
  font-weight: bold;
  color: #FDA300;
  font-size: 29px;
  line-height: 39px;
}

.types-products__list {}
