@media (max-width: $semiMobileBreakpoint) {
  .visually-hidden-mobile {
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;

    border: 0 !important;
  }
}

@media (max-width: $mobileBreakpoint) {
  .visually-hidden-mobile {
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;

    border: 0 !important;
  }
}

