.header-email {
  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 0;
}

.header-email::before {
  content: "";

  height: 71px;
  margin-bottom: 17px;

  background-image: url(#{$cssPath + "mail-icon.svg"});
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.header-email__value {
  margin-left: 0;

  text-align: center;
}

.header-email__link {
  display: inline-block; // увеличивает кликабельную зону ссылки

  margin-top: -90px; //
  padding-top: 90px; //

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--main-color);

  font-family: $mainFont;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

@media (max-width: $tabletBreakpoint) {
  .header-email::before {
    align-self: center;

    width: 65px;
    height: 65px;
  }

  .header-email__link {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: $mobileBreakpoint) {
  .header__wrap-info {
    display: grid;

    grid-template-areas: "logo"
    "email"
    "phone"
    "header-address";
    grid-template-columns: 1fr;
  }

  .header-email__link {
    margin: -10px; // увеличивает кликабельную зону ссылки
    padding: 10px; //
  }

  .header-email::before {
    display: none;
  }
}
