.header-address {
  display: flex;
  flex-direction: column;

  text-align: center;
  text-transform: uppercase;

  font-family: $mainFont;
}

.header-address::before {
  content: "";

  height: 71px;
  margin-bottom: 5px;

  background-image: url($cssPath + "map-icon.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 71px 71px;
}

.header-address__metro {
  margin-top: 0;
  margin-bottom: 5px;

  font-size: var(--font-size-semi-small);
  line-height: var(--line-height-normal);
}

.header-address__link {
  display: inline-block; // увеличивает кликабельную зону ссылки

  margin-top: -100px; //
  padding-top: 100px; //

  text-decoration: none;

  color: inherit;
}

.header-address__street {
  margin-top: 0;
  margin-bottom: 0;

  font-size: var(--font-size-normal);
  font-weight: bold;
  line-height: var(--line-height-normal);
}
