.header-work-schedule {
  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 0;
}

.header-work-schedule::before {
  content: "";

  height: 71px;
  margin-bottom: 20px;

  background-image: url(#{$cssPath + "clock-icon.svg"});
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 71px 71px;
}

.header-work-schedule__wrap-working-hours {
  margin-bottom: 3px;

  text-align: center;
  text-transform: uppercase;
}

.header-work-schedule__working-hours {
  margin-bottom: 3px;

  font-family: $secondFont;
  font-size: var(--font-size-semi-small);
  font-weight: 400;
  line-height: var(--line-height-normal);
}

.header-work-schedule__working-hours-time {
  margin-left: 0;

  text-align: center;

  font-family: $mainFont;
  font-size: var(--font-size-normal);
  font-weight: bold;
  line-height: var(--line-height-normal);
}

.header-work-schedule__start-working-hours-time {
  display: inline-block;

  margin-right: 5px;
}

.end-header-work-schedule__start-working-hours-time {
  display: inline-block;
}

.header-work-schedule__wrap-weekend {
  text-align: center;
  text-transform: uppercase;

  font-family: $mainFont;
  font-size: var(--font-size-normal);
  font-weight: bold;
  line-height: var(--line-height-normal);
}

.header-work-schedule__weekend {
  display: inline-block;

  margin-right: 5px;
}

.header-work-schedule__weekend-days {
  display: inline-block;

  margin-left: 0;
}
