.header-phone {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 0;
}

.header-phone::before {
  content: "";

  width: 71px;
  height: 71px;
  margin-bottom: 17px;

  background-image: url("#{$cssPath + 'phone-icon.svg'}");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header-phone__value {
  display: flex;

  margin-left: 0;
}

.header-phone__link {
  display: inline-block; // увеличивает кликабельную зону ссылки

  margin-top: -90px; //
  padding-top: 90px; //

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--main-color);

  font-family: $mainFont;
  font-size: var(--font-size-semi-big);
  font-weight: bold;
  line-height: var(--line-height-normal);
}

@media (max-width: $tabletBreakpoint) {
  .header-phone__link {
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
  }

  .header-phone::before {
    align-self: center;

    width: 65px;
    height: 65px;
  }

  .header-phone__link {
    font-size: var(--font-size-normal);
  }
}

@media (max-width: $mobileBreakpoint) {
  .header-phone__link {
    margin: -10px; // увеличивает кликабельную зону ссылки
    padding: 10px; //

    font-size: var(--font-size-extra-big);
  }

  .header-phone::before {
    display: none;
  }
}
