.header {
  padding-top: 20px;
}

.header__wrap-info {
  @include page-inner;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  box-sizing: border-box;
  max-width: 1300px;
  margin-bottom: 20px;
}

.header__wrap-info-item {
  margin-top: 35px;
}

.header__wrap-info-item--logo {
  margin-top: 0;
}

@media (max-width: $desktopBreakpoint) {
  .header__wrap-info-item {
    margin-top: 20px;
  }

  .header__wrap-info {
    display: grid;

    grid-template-areas: "logo logo logo"
    "phone header-address email";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__wrap-info-item--logo {
    display: flex;
    justify-content: center;

    margin-top: 0;

    justify-self: center;
  }

  .header__main-nav {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header__wrap-info-item--work-schedule {
    grid-area: work-schedule;
  }

  .header__wrap-info-item--email {
    grid-area: email;
  }

  .header__wrap-info-item--logo {
    grid-area: logo;
  }

  .header__wrap-info-item--header-phone {
    grid-area: phone;
  }

  .header__wrap-info-item--header-address {
    grid-area: header-address;
  }
}

@media (max-width: $tabletBreakpoint) {
  .header__wrap-info {
    display: grid;

    grid-template-areas: "logo logo logo"
    "phone header-address email";
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: $mobileBreakpoint) {
  .header__wrap-info {
    display: grid;

    grid-template-areas: "logo"
    "email"
    "phone"
    "header-address";
    grid-template-columns: 1fr;
  }
}
