.header-address {
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
}

.header-address::before {
  content: "";

  height: 71px;
  margin-bottom: 5px;

	background-image: url(../img/map-icon.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 71px 71px;
}

.header-address__wrap-value {
  margin-left: 0;
}

.header-address__value {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-address__metro {
  margin-bottom: 5px;
  margin-bottom: 0;

  font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
}

.header-address__street {
  margin-top: 0;
  margin-bottom: 0;

  font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
}

