body {
  display: flex;
  flex-direction: column;

  min-width: 290px;
  height: 100vh;
  margin: 0;

  font-family: "Trebuchet", "Arial", sans-serif;
}

:root {
  --color-black: green;
  --color-white: #ffffff;
}
