body {
  display: flex;
  flex-direction: column;

  min-width: 290px;
  height: 100vh;
  margin: 0;

  color: var(--color-black);

  font-family: var(--main-font-family);
  font-size: var(--font-size-semi-big);
  line-height: var(--line-height-normal);
}
