:root {
// заметка: поменять все переменные saas на кстомные свойства;
// заметка: поменять svg на инлайновые и вписать в них кастомные свойства для изменения цвета и тени как в основном макете;
// заметка: удалить свойства font-family из блоков пускай берет его из body;
// заметка: переписать блок types-works с использованием цикла
// заметка: types-products__title нужно поработать с размером шрифта на мобильной версии
// заметка: выделить в отдельный блоки иконку и иконку с заголовком http://prntscr.com/vttw63
// заметка: подключить шрифты локально
// заметка: подключать размер шрифта и line-hight из body шрифты

  // font family
  --main-font-family: "Trebuchet", "Arial", sans-serif;
  --second-font-family: 'Andika', 'Arial', sans-serif;

  // font size
  // --font-size-extra-small: 8px;
  --font-size-small: 11px;
  --font-size-semi-small: 14px;
  --font-size-normal: 17px;
  --font-size-semi-big: 20px;
  --font-size-big: 23px;
  --font-size-extra-big: 26px;
  --font-size-semi-super-extra-big: 36px;
  --font-size-super-extra-big: 56px;

  // line height
  // $lineHeightExtraSmall: 0px;
  // $lineHeightSmall: 0px;
  // $lineHeightSemiSmall: 0px;
  --line-height-normal: 1.2;
  --line-height-semi-big: 1.4;
  // $lineHeightBig: 0px;
  // $lineHeightExtraBig: 0px;

  // color
  --main-color: #fda300;
  --main-color-light: #f5ba00;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #7f7f7f;
  --color-gray-light: #adadad;
  --color-green: #9ac228;
  --color-green-dark: #39b54a;

  // box shadow
  --box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-second-style: 0 0 20px rgba(0, 0, 0, 0.2);

  // page inner
  --max-width-page: 1200px;
  --semi-max-width-page: 950px;
  --padding-page-inner: 15px;
}
