@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin page-inner {
  box-sizing: border-box;
  max-width: var(--max-width-page);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--padding-page-inner);
  padding-left: var(--padding-page-inner);
}

@mixin semi-size-page-inner {
  box-sizing: border-box;
  max-width: var(--semi-max-width-page);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--padding-page-inner);
  padding-left: var(--padding-page-inner);
}
