$mainColor: #fda300;

$cssPath: 'img/'; // путь к картинкам

$mobileBreakpoint: 425px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;

$mainFont: "Trebuchet", "Arial", sans-serif;
$secondFont: 'Andika', 'Arial', sans-serif;

$main-margin-top: 50px;

// font-size
$fontSizeExtraSmall: 8px; 
// $fontSizeSemiExtraSmall: 0px;
// $fontSizeSmall: 0px;
// $fontSizeSemiSmall: 0px;
// $fontSizeNormal: 0px;
// $fontSizeSemiBig: 0px;
$fontSizeBig: 26px;
// $fontSizeSemiExtraBig: 0px;
// $fontSizeExtraBig: 0px;

