$mainColor: #fda300;

$cssPath: 'img/'; // путь к картинкам

$tabletBreakpoint: 768px;
$mobileBreakpoint: 425px;

$mainFont: "Trebuchet", "Arial", sans-serif;
$secondFont: 'Andika', 'Arial', sans-serif;
